# Importing Dependencies

In [66]:
import pandas as pd
import yaml
import os

In [67]:
paths  =yaml.safe_load(open('../params.yaml'))['paths']

train_data_path = paths['raw_train_data_path']
validation_data_path = paths['raw_test_data_path']

In [68]:
train_df = pd.read_csv(train_data_path)
validation_df = pd.read_csv(validation_data_path)

C:\Users\sarth\AppData\Local\Temp\ipykernel_16164\356099046.py:1: DtypeWarning: Columns (5,18,23,24,25,26,27) have mixed types. Specify dtype option on import or set low_memory=False.
  train_df = pd.read_csv(train_data_path)
C:\Users\sarth\AppData\Local\Temp\ipykernel_16164\356099046.py:2: DtypeWarning: Columns (4,17,22,23,24,25,26) have mixed types. Specify dtype option on import or set low_memory=False.
  validation_df = pd.read_csv(validation_data_path)

In [69]:
train_df

,Primary key,Target,account_opening_date,country_code,demog_1,demog_2,income,demog_3,city_tier,occupation,demog_4,demog_5,demog_6,demog_7,demog_8,demog_9,demog_10,demog_11,demog_12,demog_13,demog_14,demog_15,demog_16,demog_17,demog_18,demog_19,demog_20,demog_21,demog_22,os,txn_1,txn_2,txn_3,txn_4,txn_5,txn_6,txn_7,txn_8,txn_9,txn_10,txn_11,txn_12,txn_13,txn_14,txn_15,txn_16,txn_17,txn_18,txn_19,txn_20,txn_21,txn_22,txn_23,txn_24,txn_25,txn_26,txn_27,txn_28,txn_29,txn_30,txn_31,txn_32,txn_33,txn_34,txn_35,txn_36,txn_37,txn_38,txn_39,txn_40,txn_41,txn_42,txn_43,txn_44,txn_45,txn_46,txn_47,txn_48,txn_49,txn_50,txn_51,txn_52,txn_53,txn_54,txn_55,txn_56,txn_57,txn_58,txn_59,txn_60,txn_61,txn_62,txn_63,txn_64,txn_65,txn_66,txn_67,txn_68,txn_69,txn_70,txn_71,txn_72,txn_73,txn_74,txn_75,txn_76,txn_77,txn_78,txn_79,others_1,others_2,others_3,others_4,others_5,others_6,others_7,others_8,others_9,others_10,others_11,others_12,others_13,others_14,others_15,others_16,others_17,others_18,others_19,others_20,others_21,others_22,others_23,others_24,others_25,others_26,others_27,others_28,others_29,others_30,others_31,others_32,demog_23,demog_24,demog_25,demog_26,demog_27,demog_28,demog_29,demog_30,demog_31,demog_32,demog_33,demog_34,demog_35,demog_36,demog_37,demog_38,others_33,others_34,others_35,others_36,others_37,others_38,others_39,others_40,others_41,txn_80,txn_81,demog_39,email_domain,demog_40,demog_41,others_42,others_43,others_44,others_45,demog_42,demog_43
0,1,0,18-02-2023,IN,53.0,3.0,100001 to 5L,101.0,Rural,Self_Employed,N,3.0,1.0,1.0,41.0,False,N,0.0,False,True,False,True,True,True,False,True,True,False,Y,ios,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,7.0,8.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,3.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,6.0,0.0,0.0,0.0,1.0,2.0,8.0,11.0,29.0,2.0,2.0,1,1,0.0,0.0,1.0,168.0,133.0,2.0,689.0,133.0,3.0,168,168,1,168.0,168.0,1.0,1,0.0,0.0,8.0,16.0,0.0,0.0,8.0,16.0,9999.0,9999.0,0.0,0.0,0.0,0.0,168.0,7481.0,0.0,20.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0,0,0,0,0,0,0,0.0,0.0,1.0,1.0,1,gmail,low,1,NaN,0.0,NaN,NaN,1,medium
1,2,0,01-02-2023,IN,55.0,1.0,0 to 1L,101.0,Tier 1,Salaried,N,2.0,1.0,1.0,41.0,True,N,0.0,False,True,False,True,True,True,False,True,True,True,Y,and,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,20.0,144.0,5.0,9.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,5.0,0.0,6.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,3.0,0.0,0.0,10.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0,6.0,0.0,0.0,0.0,21.0,150.0,6.0,20.0,2.0,4.0,4.0,1,0,0.0,0.0,1.0,185.0,185.0,1.0,568.0,185.0,3.0,185,185,1,185.0,185.0,1.0,1,0.0,0.0,0.0,13.0,0.0,0.0,0.0,13.0,9999.0,9999.0,0.0,0.0,0.0,0.0,185.0,17461.0,0.0,48.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0,0,0,1,0,0,1,0.0,0.0,12.0,28.0,1,gmail,High,1,NaN,NaN,NaN,NaN,1,High
2,3,0,09-12-2022,IN,55.0,3.0,0 to 1L,101.0,Tier 2,Self_Employed,N,4.0,1.0,1.0,41.0,False,N,0.0,False,True,False,True,True,True,False,True,False,False,Y,and,0.0,0.0,0.0,0.0,0.0,0.0,4.0,4.0,96.0,240.0,1.0,6.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,8.0,0.0,0.0,0.0,97.0,244.0,7.0,15.0,0.0,2.0,2.0,0,1,0.0,0.0,1.0,239.0,239.0,1.0,239.0,239.0,1.0,239,239,1,239.0,239.0,1.0,1,0.0,0.0,4.0,14.0,0.0,0.0,4.0,14.0,9999.0,9999.0,0.0,0.0,0.0,0.0,239.0,8788.0,0.0,24.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0,0,1,1,0,0,0,0.0,0.0,5.0,48.0,1,gmail,medium,1,NaN,NaN,NaN,NaN,1,High
3,4,0,31-03-2023,IN,53.0,3.0,100001 to 5L,101.0,Tier 7,Self_Employed,N,4.0,1.0,1.0,41.0,NaN,N,0.0,False,True,False,True,True,True,False,True,False,False,Y,and,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,3.0,1.0,2.0,16.0,17.0,17.0,0,0,0.0,0.0,1.0,127.0,127.0,1.0,127.0,127.0,1.0,127,127,1,NaN,NaN,NaN,1,0.0,0.0,4.0,21.0,0.0,0.0,4.0,21.0,9999.0,9999.0,0.0,0.0,0.0,0.0,127.0,7065.0,0.0,19.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0,0,0,0,0,0,0,0.0,0.0,1.0,10.0,1,gmail,High,1,NaN,NaN,NaN,NaN,1,High
4,5,0,17-01-2023,IN,55.0,6.0,0 to 1L,101.0,Tier 1,Student,N,4.0,1.0,1.0,41.0,False,N,0.0,False,True,False,True,True,True,False,True,False,False,Y,and,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,6.0,0.0,0.0,0.0,0.0,0.0,1.0,3.0,NaN,4.0,4.0,0,0,0.0,0.0,1.0,200.0,200.0,1.0,200.0,200.0,1.0,200,200,1,200.0,200.0,1.0,1,0.0,0.0,1.0,3.0,0.0,0.0,1.0,3.0,9999.0,9999.0,0.0,0.0,0.0,0.0,200.0,8617.0,0.0,24.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0,0,0,0,0,0,0,0.0,0.0,NaN,NaN,1,gmail,low,1,NaN,NaN,NaN,NaN,1,medium
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,99996,1,21-12-2022,IN,55.0,2,0 to 1L,101.0,Rural,Self_Employed,N,4.0,1.0,1.0,42.0,False,N,0.0,False,True,False,True,True,True,False,True,False,False,Y,and,0.0,0.0,0.0,0.0,1.0,1.0,6.0,6.0,6.0,6.0,11.0,11.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,7.0,7.0,18.0,18.0,1.0,1.0,1.0,0,0,0.0,0.0,0.0,49.0,49.0,1.0,49.0,49.0,1.0,49,49,1,49.0,49.0,1.0,1,0.0,0.0,15.0,15.0,3.0,7.0,18.0,22.0,9999.0,9999.0,0.0,0.0,0.0,0.0,49.0,7299.0,0.0,20.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0,0,0,1,0,0,0,0.0,0.0,15.0,4.0,1,gmail,High,1,NaN,NaN,NaN,NaN,1,High
99996,99997,1,17-03-2023,IN,55.0,6,100001 to 5L,101.0,Rural,Student,N,3.0,1.0,1.0,41.0,NaN,N,0.0,False,True,False,True,True,True,False,True,True,False,Y,and,0.0,0.0,0.0,0.0,45.0,45.0,0.0,0.0,0.0,0.0,1134.0,1134.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,45.0,45.0,1134.0,1134.0,0.0,0.0,0.0,1,0,0.0,0.0,0.0,8.0,8.0,1.0,370.0,8.0,2.0,8,8,1,8.0,8.0,1.0,1,0.0,0.0,13.0,13.0,13.0,13.0,26.0,26.0,9999.0,9999.0,0.0,0.0,0.0,0.0,9.0,9089.0,0.0,25.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0,0,0,1,0,0,0,0.0,0.0,2586.0,NaN,1,gmail,low,1,NaN,NaN,NaN,NaN,1,medium
99997,99998,1,08-12-2022,IN,55.0,1,100001 to 5L,101.0,Tier 6,Salaried,N,4.0,1.0,1.0,41.0,False,N,0.0,False,True,False,True,True,True,False,True,False,False,Y,and,0.0,0.0,0.0,0.0,1.0,1.0,3.0,3.0,1.0,1.0,15.0,15.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,14.0,14.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,16.0,16.0,19.0,19.0,0.0,0.0,0.0,0,0,1.0,0.0,0.0,23.0,23.0,1.0,23.0,23.0,1.0,23,23,1,23.0,23.0,1.0,1,0.0,0.0,8.0,8.0,0.0,0.0,8.0,8.0,9999.0,9999.0,1.0,0.0,1.0,0.0,23.0,9629.0,0.0,26.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0,0,0,1,0,0,0,0.0,0.0,17.0,13.0,1,gmail,High,1,NaN,NaN,NaN,NaN,1,medium
99998,99999,1,03-03-2023,IN,55.0,1,5L to 10L,101.0,Tier 1,Other,N,3.0,1.0,1.0,42.0,NaN,N,0.0,False,True,False,False,True,True,False,True,False,False,Y,ios,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,45.0,134.0,5.0,14.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,3.0,0.0,0.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0,45.0,134.0,7.0,20.0,2.0,8.0,8.0,0,0,0.0,0.0,0.0,106.0,106.0,1.0,106.0,106.0,1.0,106,106,1,106.0,106.0,1.0,1,0.0,0.0,2.0,21.0,0.0,0.0,2.0,21.0,9999.0,9999.0,0.0,0.0,0.0,0.0,106.0,8487.0,0.0,23.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0,0,0,1,0,0,0,0.0,0.0,13.0,62.0,1,gmail,High,1,NaN,NaN,NaN,NaN,1,High
99999,100000,1,03-02-2023,IN,401.0,2,5L to 10L,101.0,Tier 7,Self_Employed,N,3.0,1.0,1.0,41.0,NaN,N,0.0,False,True,False,False,True,True,False,True,False,False,Y,and,0.0,8.0,0.0,0.0,0.0,276.0,0.0,15.0,11.0,30.0,6.0,105.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,11.0,317.0,6.0,121.0,1.0,10.0,10.0,0,0,0.0,0.0,0.0,99.0,99.0,1.0,99.0,99.0,1.0,99,99,1,99.0,99.0,1.0,1,0.0,0.0,0.0,193.0,0.0,0.0,0.0,193.0,9999.0,9999.0,0.0,0.0,0.0,0.0,114.0,9449.0,0.0,26.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0,0,0,1,0,0,1,0.0,0.0,119.0,32.0,1,gmail,medium,1,NaN,NaN,NaN,NaN,1,medium

## Data Cleaning

In [70]:
train_df.drop(columns=['Primary key'], inplace=True)
validation_df.drop(columns=['Primary key'], inplace=True)

In [71]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Columns: 177 entries, Target to demog_43
dtypes: float64(136), int64(17), object(24)
memory usage: 135.0+ MB

In [72]:
train_df.isnull().sum()

Target                      0
account_opening_date        0
country_code             3666
demog_1                  3669
demog_2                  3668
                        ...
others_43               95421
others_44               99126
others_45               99306
demog_42                    0
demog_43                 3705
Length: 177, dtype: int64

In [73]:
train_df['Target'].value_counts()

Target
0    98000
1     2000
Name: count, dtype: int64

### Dropping columns with more than 25000 missing values

In [74]:
## columns with more than 20% missing values
len(train_df.iloc[:,train_df.isnull().sum().values >0.2*len(train_df)].columns)

89

In [75]:
col_to_drop =  train_df.iloc[:,train_df.isnull().sum().values > 0.2*len(train_df)].columns
train_df.drop(columns =col_to_drop , inplace = True)
validation_df.drop(columns = col_to_drop, inplace = True)

In [76]:
train_df.head()

,Target,account_opening_date,country_code,demog_1,demog_2,income,demog_3,city_tier,occupation,demog_4,demog_5,demog_6,demog_7,demog_8,demog_9,demog_10,demog_11,demog_12,demog_13,demog_14,demog_15,demog_16,demog_17,demog_18,demog_19,demog_20,demog_21,demog_22,others_1,others_2,others_3,others_4,others_5,others_6,others_7,others_8,others_9,others_10,others_11,others_12,others_13,others_14,others_18,others_19,others_20,others_21,others_22,others_23,others_24,others_25,others_26,others_27,others_28,others_29,others_30,others_31,others_32,demog_23,demog_24,demog_25,demog_26,demog_27,demog_28,demog_29,demog_30,demog_31,demog_32,demog_33,demog_34,demog_35,demog_36,demog_37,demog_38,others_33,others_34,others_35,others_36,others_37,others_38,others_39,others_40,others_41,demog_39,email_domain,demog_40,demog_41,demog_42,demog_43
0,0,18-02-2023,IN,53.0,3.0,100001 to 5L,101.0,Rural,Self_Employed,N,3.0,1.0,1.0,41.0,False,N,0.0,False,True,False,True,True,True,False,True,True,False,Y,1,1,0.0,0.0,1.0,168.0,133.0,2.0,689.0,133.0,3.0,168,168,1,1,0.0,0.0,8.0,16.0,0.0,0.0,8.0,16.0,9999.0,9999.0,0.0,0.0,0.0,0.0,168.0,7481.0,0.0,20.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0,0,0,0,0,0,0,0.0,0.0,1,gmail,low,1,1,medium
1,0,01-02-2023,IN,55.0,1.0,0 to 1L,101.0,Tier 1,Salaried,N,2.0,1.0,1.0,41.0,True,N,0.0,False,True,False,True,True,True,False,True,True,True,Y,1,0,0.0,0.0,1.0,185.0,185.0,1.0,568.0,185.0,3.0,185,185,1,1,0.0,0.0,0.0,13.0,0.0,0.0,0.0,13.0,9999.0,9999.0,0.0,0.0,0.0,0.0,185.0,17461.0,0.0,48.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0,0,0,1,0,0,1,0.0,0.0,1,gmail,High,1,1,High
2,0,09-12-2022,IN,55.0,3.0,0 to 1L,101.0,Tier 2,Self_Employed,N,4.0,1.0,1.0,41.0,False,N,0.0,False,True,False,True,True,True,False,True,False,False,Y,0,1,0.0,0.0,1.0,239.0,239.0,1.0,239.0,239.0,1.0,239,239,1,1,0.0,0.0,4.0,14.0,0.0,0.0,4.0,14.0,9999.0,9999.0,0.0,0.0,0.0,0.0,239.0,8788.0,0.0,24.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0,0,1,1,0,0,0,0.0,0.0,1,gmail,medium,1,1,High
3,0,31-03-2023,IN,53.0,3.0,100001 to 5L,101.0,Tier 7,Self_Employed,N,4.0,1.0,1.0,41.0,NaN,N,0.0,False,True,False,True,True,True,False,True,False,False,Y,0,0,0.0,0.0,1.0,127.0,127.0,1.0,127.0,127.0,1.0,127,127,1,1,0.0,0.0,4.0,21.0,0.0,0.0,4.0,21.0,9999.0,9999.0,0.0,0.0,0.0,0.0,127.0,7065.0,0.0,19.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0,0,0,0,0,0,0,0.0,0.0,1,gmail,High,1,1,High
4,0,17-01-2023,IN,55.0,6.0,0 to 1L,101.0,Tier 1,Student,N,4.0,1.0,1.0,41.0,False,N,0.0,False,True,False,True,True,True,False,True,False,False,Y,0,0,0.0,0.0,1.0,200.0,200.0,1.0,200.0,200.0,1.0,200,200,1,1,0.0,0.0,1.0,3.0,0.0,0.0,1.0,3.0,9999.0,9999.0,0.0,0.0,0.0,0.0,200.0,8617.0,0.0,24.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0,0,0,0,0,0,0,0.0,0.0,1,gmail,low,1,1,medium

88 featues remaining for which we can impute null values

In [77]:
train_df['Target'].value_counts()

Target
0    98000
1     2000
Name: count, dtype: int64

#### The Dataset is highly imbalanced

In [78]:
train_df.columns

Index(['Target', 'account_opening_date', 'country_code', 'demog_1', 'demog_2',
       'income', 'demog_3', 'city_tier', 'occupation', 'demog_4', 'demog_5',
       'demog_6', 'demog_7', 'demog_8', 'demog_9', 'demog_10', 'demog_11',
       'demog_12', 'demog_13', 'demog_14', 'demog_15', 'demog_16', 'demog_17',
       'demog_18', 'demog_19', 'demog_20', 'demog_21', 'demog_22', 'others_1',
       'others_2', 'others_3', 'others_4', 'others_5', 'others_6', 'others_7',
       'others_8', 'others_9', 'others_10', 'others_11', 'others_12',
       'others_13', 'others_14', 'others_18', 'others_19', 'others_20',
       'others_21', 'others_22', 'others_23', 'others_24', 'others_25',
       'others_26', 'others_27', 'others_28', 'others_29', 'others_30',
       'others_31', 'others_32', 'demog_23', 'demog_24', 'demog_25',
       'demog_26', 'demog_27', 'demog_28', 'demog_29', 'demog_30', 'demog_31',
       'demog_32', 'demog_33', 'demog_34', 'demog_35', 'demog_36', 'demog_37',
       'demog_38', 'others_33', 'others_34', 'others_35', 'others_36',
       'others_37', 'others_38', 'others_39', 'others_40', 'others_41',
       'demog_39', 'email_domain', 'demog_40', 'demog_41', 'demog_42',
       'demog_43'],
      dtype='object')

### checking null value rowwise

In [79]:
## taking null count for each row

train_df['null_count'] = train_df.isnull().sum(axis=1)

In [80]:
train_df.loc[train_df['null_count'] >15, 'Target'].value_counts()

Target
0    3662
Name: count, dtype: int64

In [81]:
train_df.drop(index = train_df.loc[train_df['null_count'] >15].index,inplace=True)
train_df.drop(columns = 'null_count', inplace = True)

In [82]:
train_df

,Target,account_opening_date,country_code,demog_1,demog_2,income,demog_3,city_tier,occupation,demog_4,demog_5,demog_6,demog_7,demog_8,demog_9,demog_10,demog_11,demog_12,demog_13,demog_14,demog_15,demog_16,demog_17,demog_18,demog_19,demog_20,demog_21,demog_22,others_1,others_2,others_3,others_4,others_5,others_6,others_7,others_8,others_9,others_10,others_11,others_12,others_13,others_14,others_18,others_19,others_20,others_21,others_22,others_23,others_24,others_25,others_26,others_27,others_28,others_29,others_30,others_31,others_32,demog_23,demog_24,demog_25,demog_26,demog_27,demog_28,demog_29,demog_30,demog_31,demog_32,demog_33,demog_34,demog_35,demog_36,demog_37,demog_38,others_33,others_34,others_35,others_36,others_37,others_38,others_39,others_40,others_41,demog_39,email_domain,demog_40,demog_41,demog_42,demog_43
0,0,18-02-2023,IN,53.0,3.0,100001 to 5L,101.0,Rural,Self_Employed,N,3.0,1.0,1.0,41.0,False,N,0.0,False,True,False,True,True,True,False,True,True,False,Y,1,1,0.0,0.0,1.0,168.0,133.0,2.0,689.0,133.0,3.0,168,168,1,1,0.0,0.0,8.0,16.0,0.0,0.0,8.0,16.0,9999.0,9999.0,0.0,0.0,0.0,0.0,168.0,7481.0,0.0,20.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0,0,0,0,0,0,0,0.0,0.0,1,gmail,low,1,1,medium
1,0,01-02-2023,IN,55.0,1.0,0 to 1L,101.0,Tier 1,Salaried,N,2.0,1.0,1.0,41.0,True,N,0.0,False,True,False,True,True,True,False,True,True,True,Y,1,0,0.0,0.0,1.0,185.0,185.0,1.0,568.0,185.0,3.0,185,185,1,1,0.0,0.0,0.0,13.0,0.0,0.0,0.0,13.0,9999.0,9999.0,0.0,0.0,0.0,0.0,185.0,17461.0,0.0,48.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0,0,0,1,0,0,1,0.0,0.0,1,gmail,High,1,1,High
2,0,09-12-2022,IN,55.0,3.0,0 to 1L,101.0,Tier 2,Self_Employed,N,4.0,1.0,1.0,41.0,False,N,0.0,False,True,False,True,True,True,False,True,False,False,Y,0,1,0.0,0.0,1.0,239.0,239.0,1.0,239.0,239.0,1.0,239,239,1,1,0.0,0.0,4.0,14.0,0.0,0.0,4.0,14.0,9999.0,9999.0,0.0,0.0,0.0,0.0,239.0,8788.0,0.0,24.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0,0,1,1,0,0,0,0.0,0.0,1,gmail,medium,1,1,High
3,0,31-03-2023,IN,53.0,3.0,100001 to 5L,101.0,Tier 7,Self_Employed,N,4.0,1.0,1.0,41.0,NaN,N,0.0,False,True,False,True,True,True,False,True,False,False,Y,0,0,0.0,0.0,1.0,127.0,127.0,1.0,127.0,127.0,1.0,127,127,1,1,0.0,0.0,4.0,21.0,0.0,0.0,4.0,21.0,9999.0,9999.0,0.0,0.0,0.0,0.0,127.0,7065.0,0.0,19.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0,0,0,0,0,0,0,0.0,0.0,1,gmail,High,1,1,High
4,0,17-01-2023,IN,55.0,6.0,0 to 1L,101.0,Tier 1,Student,N,4.0,1.0,1.0,41.0,False,N,0.0,False,True,False,True,True,True,False,True,False,False,Y,0,0,0.0,0.0,1.0,200.0,200.0,1.0,200.0,200.0,1.0,200,200,1,1,0.0,0.0,1.0,3.0,0.0,0.0,1.0,3.0,9999.0,9999.0,0.0,0.0,0.0,0.0,200.0,8617.0,0.0,24.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0,0,0,0,0,0,0,0.0,0.0,1,gmail,low,1,1,medium
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,1,21-12-2022,IN,55.0,2,0 to 1L,101.0,Rural,Self_Employed,N,4.0,1.0,1.0,42.0,False,N,0.0,False,True,False,True,True,True,False,True,False,False,Y,0,0,0.0,0.0,0.0,49.0,49.0,1.0,49.0,49.0,1.0,49,49,1,1,0.0,0.0,15.0,15.0,3.0,7.0,18.0,22.0,9999.0,9999.0,0.0,0.0,0.0,0.0,49.0,7299.0,0.0,20.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0,0,0,1,0,0,0,0.0,0.0,1,gmail,High,1,1,High
99996,1,17-03-2023,IN,55.0,6,100001 to 5L,101.0,Rural,Student,N,3.0,1.0,1.0,41.0,NaN,N,0.0,False,True,False,True,True,True,False,True,True,False,Y,1,0,0.0,0.0,0.0,8.0,8.0,1.0,370.0,8.0,2.0,8,8,1,1,0.0,0.0,13.0,13.0,13.0,13.0,26.0,26.0,9999.0,9999.0,0.0,0.0,0.0,0.0,9.0,9089.0,0.0,25.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0,0,0,1,0,0,0,0.0,0.0,1,gmail,low,1,1,medium
99997,1,08-12-2022,IN,55.0,1,100001 to 5L,101.0,Tier 6,Salaried,N,4.0,1.0,1.0,41.0,False,N,0.0,False,True,False,True,True,True,False,True,False,False,Y,0,0,1.0,0.0,0.0,23.0,23.0,1.0,23.0,23.0,1.0,23,23,1,1,0.0,0.0,8.0,8.0,0.0,0.0,8.0,8.0,9999.0,9999.0,1.0,0.0,1.0,0.0,23.0,9629.0,0.0,26.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0,0,0,1,0,0,0,0.0,0.0,1,gmail,High,1,1,medium
99998,1,03-03-2023,IN,55.0,1,5L to 10L,101.0,Tier 1,Other,N,3.0,1.0,1.0,42.0,NaN,N,0.0,False,True,False,False,True,True,False,True,False,False,Y,0,0,0.0,0.0,0.0,106.0,106.0,1.0,106.0,106.0,1.0,106,106,1,1,0.0,0.0,2.0,21.0,0.0,0.0,2.0,21.0,9999.0,9999.0,0.0,0.0,0.0,0.0,106.0,8487.0,0.0,23.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0,0,0,1,0,0,0,0.0,0.0,1,gmail,High,1,1,High
99999,1,03-02-2023,IN,401.0,2,5L to 10L,101.0,Tier 7,Self_Employed,N,3.0,1.0,1.0,41.0,NaN,N,0.0,False,True,False,False,True,True,False,True,False,False,Y,0,0,0.0,0.0,0.0,99.0,99.0,1.0,99.0,99.0,1.0,99,99,1,1,0.0,0.0,0.0,193.0,0.0,0.0,0.0,193.0,9999.0,9999.0,0.0,0.0,0.0,0.0,114.0,9449.0,0.0,26.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0,0,0,1,0,0,1,0.0,0.0,1,gmail,medium,1,1,medium

#### can't drop rows in validation column

In [83]:
for i in train_df.columns:
    print(train_df[train_df['Target'] == 1 ][i].value_counts())

for i in train_df.columns:
    print(train_df[i].value_counts())

Target
1    2000
Name: count, dtype: int64
account_opening_date
12-01-2023    36
02-02-2023    34
16-12-2022    32
03-02-2023    30
15-12-2022    29
              ..
25-12-2022     7
20-03-2023     7
05-03-2023     6
05-02-2023     6
19-03-2023     2
Name: count, Length: 121, dtype: int64
country_code
IN    2000
Name: count, dtype: int64
demog_1
55.0     1224
53.0      438
401.0     211
56.0      120
51.0        7
Name: count, dtype: int64
demog_2
1.0    615
2.0    461
3.0    442
6.0    207
7.0    186
4.0     74
5.0     11
11       2
9        2
Name: count, dtype: int64
income
100001 to 5L        1080
0 to 1L              647
5L to 10L            177
10L to 25L            60
25L to 50L            21
50L to 3Crore         13
3Crore to 5Crore       1
Name: count, dtype: int64
demog_3
101.0    1980
103.0      18
104.0       1
Name: count, dtype: int64
city_tier
Rural     538
Tier 1    354
Tier 8    274
Tier 6    211
Tier 7    209
Tier 2    127
Tier 3    126
Tier 5     96
Tier 4     64
Name: count, dtype: int64
occupation
Self_Employed    878
Salaried         438
Other            397
Student          202
Homemaker         72
Retired           11
Unemployed         1
Minor              1
Name: count, dtype: int64
demog_4
N    1929
5       1
6       1
Name: count, dtype: int64
demog_5
4.0    931
3.0    644
2.0    344
1.0     65
Name: count, dtype: int64
demog_6
1.0    1998
2.0       1
3.0       1
Name: count, dtype: int64
demog_7
1.0    1999
Name: count, dtype: int64
demog_8
41.0    1644
42.0     309
Name: count, dtype: int64
demog_9
False    1131
True       36
Name: count, dtype: int64
demog_10
N    1999
Name: count, dtype: int64
demog_11
0.0    2000
Name: count, dtype: int64
demog_12
False    2000
Name: count, dtype: int64
demog_13
True     1762
False     233
Name: count, dtype: int64
demog_14
False    1994
True        1
Name: count, dtype: int64
demog_15
True     1556
False     439
Name: count, dtype: int64
demog_16
True     1982
False      13
Name: count, dtype: int64
demog_17
True     1762
False     238
Name: count, dtype: int64
demog_18
False    1998
True        2
Name: count, dtype: int64
demog_19
True    2000
Name: count, dtype: int64
demog_20
False    1773
True      227
Name: count, dtype: int64
demog_21
False    1891
True      109
Name: count, dtype: int64
demog_22
Y    2000
Name: count, dtype: int64
others_1
0    1773
1     227
Name: count, dtype: int64
others_2
0    1989
1      11
Name: count, dtype: int64
others_3
0.0    1947
1.0      53
Name: count, dtype: int64
others_4
0.0    1975
1.0      25
Name: count, dtype: int64
others_5
0.0    1069
1.0     897
Name: count, dtype: int64
others_6
8.0      53
15.0     48
16.0     47
9.0      45
11.0     43
         ..
167.0     1
112.0     1
115.0     1
154.0     1
130.0     1
Name: count, Length: 142, dtype: int64
others_7
8.0      53
15.0     49
16.0     47
9.0      45
12.0     43
         ..
114.0     1
167.0     1
154.0     1
115.0     1
130.0     1
Name: count, Length: 138, dtype: int64
others_8
1.0    1987
2.0      12
4.0       1
Name: count, dtype: int64
others_9
8.0      47
15.0     46
12.0     41
11.0     40
16.0     40
         ..
727.0     1
271.0     1
286.0     1
514.0     1
370.0     1
Name: count, Length: 289, dtype: int64
others_10
8.0      52
15.0     49
16.0     47
12.0     44
9.0      44
         ..
145.0     1
167.0     1
154.0     1
115.0     1
130.0     1
Name: count, Length: 138, dtype: int64
others_11
1.0     1779
2.0      180
3.0       25
4.0        9
6.0        3
5.0        2
8.0        1
19.0       1
Name: count, dtype: int64
others_12
8      53
15     49
16     47
9      45
11     43
       ..
167     1
112     1
115     1
154     1
130     1
Name: count, Length: 142, dtype: int64
others_13
8      53
15     49
16     47
9      45
12     43
       ..
170     1
120     1
115     1
145     1
130     1
Name: count, Length: 140, dtype: int64
others_14
1    1995
2       5
Name: count, dtype: int64
others_18
1    1994
2       6
Name: count, dtype: int64
others_19
0.0    1998
1.0       2
Name: count, dtype: int64
others_20
0.0    2000
Name: count, dtype: int64
others_21
0.0       243
1.0        62
3.0        52
5.0        49
4.0        43
         ...
845.0       1
1439.0      1
160.0       1
153.0       1
348.0       1
Name: count, Length: 319, dtype: int64
others_22
0.0       144
1.0        50
3.0        45
5.0        42
2.0        41
         ...
762.0       1
1599.0      1
259.0       1
402.0       1
193.0       1
Name: count, Length: 366, dtype: int64
others_23
0.0      1333
1.0        76
2.0        38
3.0        30
4.0        21
         ...
198.0       1
118.0       1
276.0       1
530.0       1
64.0        1
Name: count, Length: 207, dtype: int64
others_24
0.0      1220
1.0        85
2.0        56
3.0        40
4.0        24
         ...
438.0       1
283.0       1
152.0       1
684.0       1
64.0        1
Name: count, Length: 233, dtype: int64
others_25
0.0      104
1.0       54
5.0       40
3.0       39
6.0       38
        ...
158.0      1
329.0      1
315.0      1
311.0      1
151.0      1
Name: count, Length: 409, dtype: int64
others_26
1.0       37
5.0       31
18.0      30
9.0       30
15.0      30
          ..
329.0      1
2610.0     1
789.0      1
827.0      1
359.0      1
Name: count, Length: 458, dtype: int64
others_27
9999.0    1992
388.0        1
12.0         1
26.0         1
60.0         1
2.0          1
5.0          1
43.0         1
93.0         1
Name: count, dtype: int64
others_28
 9999.0    1962
 2.0          4
 0.0          2
 1.0          2
-1.0          2
 4.0          2
 5.0          2
 59.0         1
 77.0         1
 28.0         1
 15.0         1
 93.0         1
 40.0         1
 6.0          1
 9.0          1
-2.0          1
 98.0         1
 51.0         1
 66.0         1
 14.0         1
 26.0         1
 64.0         1
 3.0          1
 41.0         1
 34.0         1
 53.0         1
 79.0         1
 320.0        1
 27.0         1
 8.0          1
 22.0         1
Name: count, dtype: int64
others_29
0.0    1955
1.0      45
Name: count, dtype: int64
others_30
0.0    1967
1.0      33
Name: count, dtype: int64
others_31
0.0    1958
1.0      42
Name: count, dtype: int64
others_32
0.0    1979
1.0      21
Name: count, dtype: int64
demog_23
16.0     53
8.0      45
9.0      44
15.0     43
17.0     41
         ..
496.0     1
153.0     1
116.0     1
171.0     1
130.0     1
Name: count, Length: 148, dtype: int64
demog_24
7318.0     5
8679.0     4
8390.0     4
8039.0     4
8090.0     4
          ..
15151.0    1
12410.0    1
7039.0     1
8841.0     1
9449.0     1
Name: count, Length: 1683, dtype: int64
demog_25
0.0    2000
Name: count, dtype: int64
demog_26
21.0    163
22.0    148
20.0    146
23.0    141
25.0    129
19.0    123
24.0    121
26.0     95
27.0     89
28.0     84
29.0     61
30.0     56
31.0     54
33.0     52
32.0     49
34.0     40
39.0     34
35.0     33
18.0     30
40.0     27
38.0     26
37.0     23
43.0     21
47.0     19
48.0     18
36.0     18
42.0     16
41.0     16
46.0     15
51.0     14
53.0     10
52.0     10
44.0      9
49.0      8
58.0      7
45.0      6
54.0      6
50.0      6
55.0      4
56.0      3
57.0      3
73.0      3
68.0      2
61.0      2
59.0      2
63.0      2
60.0      2
66.0      1
78.0      1
69.0      1
62.0      1
12.0      1
67.0      1
71.0      1
Name: count, dtype: int64
demog_27
0.0    1999
1.0       1
Name: count, dtype: int64
demog_28
1.0    1994
0.0       6
Name: count, dtype: int64
demog_29
0.0    2000
Name: count, dtype: int64
demog_30
0.0    1834
1.0     165
Name: count, dtype: int64
demog_31
0.0    1999
Name: count, dtype: int64
demog_32
0.0    1514
1.0     485
Name: count, dtype: int64
demog_33
1.0    1785
0.0     214
Name: count, dtype: int64
demog_34
1.0    1999
Name: count, dtype: int64
demog_35
0.0    1999
Name: count, dtype: int64
demog_36
0.0    1998
1.0       1
Name: count, dtype: int64
demog_37
0.0    1998
1.0       1
Name: count, dtype: int64
demog_38
0.0    1999
Name: count, dtype: int64
others_33
0    1999
1       1
Name: count, dtype: int64
others_34
0    1999
1       1
Name: count, dtype: int64
others_35
0    1835
1     165
Name: count, dtype: int64
others_36
1    1588
0     412
Name: count, dtype: int64
others_37
0    1987
1      13
Name: count, dtype: int64
others_38
0    2000
Name: count, dtype: int64
others_39
0    1808
1     192
Name: count, dtype: int64
others_40
0.0    1999
1.0       1
Name: count, dtype: int64
others_41
0.0    2000
Name: count, dtype: int64
demog_39
1    1999
0       1
Name: count, dtype: int64
email_domain
gmail      1714
Others      280
yahoo         4
hotmail       1
icloud        1
Name: count, dtype: int64
demog_40
High      1578
medium     241
low        178
Name: count, dtype: int64
demog_41
1    1999
0       1
Name: count, dtype: int64
demog_42
1    2000
Name: count, dtype: int64
demog_43
High      1356
medium     624
low         20
Name: count, dtype: int64
Target
0    94338
1     2000
Name: count, dtype: int64
account_opening_date
28-12-2022    1296
06-12-2022    1281
09-12-2022    1213
14-12-2022    1212
25-01-2023    1174
              ...
15-01-2023     348
19-02-2023     332
19-03-2023     307
12-03-2023     285
05-03-2023     275
Name: count, Length: 121, dtype: int64
country_code
IN    95844
US      132
GB       57
AE       48
CA       36
AU       34
SG       26
SA       19
DE       17
JP       10
NZ        8
KW        8
IE        7
QA        7
HK        7
MY        6
FR        5
NL        4
OM        4
PL        4
CH        4
PH        3
BE        3
LK        3
FI        2
SE        2
ID        2
FJ        2
GH        2
ZA        2
ZM        2
BH        2
NG        2
ES        2
PT        1
CN        1
MX        1
CZ        1
CL        1
MU        1
KR        1
SI        1
LU        1
KY        1
DK        1
JO        1
MG        1
TH        1
RU        1
Name: count, dtype: int64
demog_1
55.0     66012
53.0     16229
401.0     6858
56.0      5259
51.0       864
52.0       859
54.0       157
405.0       48
421.0       18
57.0        14
252.0        5
123.0        2
124.0        1
84.0         1
227.0        1
58.0         1
Name: count, dtype: int64
demog_2
1.0     36791
3.0     14690
2.0     11833
6.0      9120
1        5217
7.0      4802
4.0      4769
3        2004
2        1633
6        1274
5.0       940
10.0      916
7         691
4         655
11.0      427
17.0      202
10        142
5         124
11         55
17         23
15.0       10
9.0         7
ZZ          3
16.0        2
Name: count, dtype: int64
income
100001 to 5L          48612
0 to 1L               32781
5L to 10L              9201
10L to 25L             3687
25L to 50L             1162
50L to 3Crore           686
0                       157
3Crore to 5Crore         37
5Crore to 10Crore         6
20Crore to 35Crore        2
10Crore to 15Crore        1
15Crore to 20Crore        1
Name: count, dtype: int64
demog_3
101.0    92773
103.0     2215
102.0      593
104.0      512
213.0      225
168.0        8
105.0        4
106.0        3
Name: count, dtype: int64
city_tier
Tier 1    25679
Rural     19423
Tier 8    12077
Tier 7    10389
Tier 6     8977
Tier 3     6326
Tier 5     5628
Tier 2     4944
Tier 4     2304
Name: count, dtype: int64
occupation
Self_Employed    29912
Salaried         27230
Other            21713
Student          10444
Homemaker         5467
Retired           1093
Minor              426
Unemployed          52
Name: count, dtype: int64
demog_4
N    90140
6      455
5      404
7      114
2       28
1       15
3        1
Name: count, dtype: int64
demog_5
4.0    48554
3.0    27893
2.0    17672
1.0     2195
Name: count, dtype: int64
demog_6
1.0    95326
3.0      474
2.0      422
4.0      116
Name: count, dtype: int64
demog_7
1.0    96333
Name: count, dtype: int64
demog_8
41.0    80046
42.0    15976
52.0      225
Name: count, dtype: int64
demog_9
False    58684
True     28399
Name: count, dtype: int64
demog_10
N    96335
Name: count, dtype: int64
demog_11
0.0    96113
1.0      225
Name: count, dtype: int64
demog_12
False    96338
Name: count, dtype: int64
demog_13
True     92210
False     4118
Name: count, dtype: int64
demog_14
False    96165
True       163
Name: count, dtype: int64
demog_15
True     75178
False    21150
Name: count, dtype: int64
demog_16
True     96302
False       26
Name: count, dtype: int64
demog_17
True     92210
False     4128
Name: count, dtype: int64
demog_18
False    96100
True       238
Name: count, dtype: int64
demog_19
True     96333
False        5
Name: count, dtype: int64
demog_20
False    60543
True     35795
Name: count, dtype: int64
demog_21
False    75346
True     20992
Name: count, dtype: int64
demog_22
Y    95964
N      374
Name: count, dtype: int64
others_1
0    60470
1    35868
Name: count, dtype: int64
others_2
0    87856
1     8482
Name: count, dtype: int64
others_3
0.0    95706
1.0      632
Name: count, dtype: int64
others_4
0.0    94163
1.0     2175
Name: count, dtype: int64
others_5
1.0    53681
0.0    29501
Name: count, dtype: int64
others_6
220.0     1236
242.0     1234
239.0     1144
234.0     1121
192.0     1114
          ...
334.0        1
524.0        1
2206.0       1
1266.0       1
829.0        1
Name: count, Length: 951, dtype: int64
others_7
220.0     1168
242.0     1164
239.0     1120
246.0     1078
192.0     1077
          ...
1160.0       1
858.0        1
1970.0       1
347.0        1
714.0        1
Name: count, Length: 299, dtype: int64
others_8
1.0     88755
2.0      5410
3.0      1081
4.0       407
5.0       201
6.0       146
7.0        95
8.0        65
10.0       37
9.0        29
11.0       27
12.0       13
13.0       11
14.0       11
15.0        7
18.0        6
17.0        5
16.0        4
22.0        3
19.0        3
21.0        3
20.0        3
25.0        2
28.0        2
23.0        2
32.0        2
63.0        1
30.0        1
39.0        1
31.0        1
40.0        1
Name: count, dtype: int64
others_9
242.0     997
183.0     860
246.0     859
243.0     831
247.0     807
         ...
3696.0      1
1748.0      1
2778.0      1
1928.0      1
1178.0      1
Name: count, Length: 2169, dtype: int64
others_10
242.0     1048
220.0     1046
183.0      997
192.0      992
239.0      976
          ...
308.0        1
1870.0       1
1160.0       1
858.0        1
714.0        1
Name: count, Length: 291, dtype: int64
others_11
1.0     58959
2.0     23861
3.0      7574
4.0      2891
5.0      1279
        ...
49.0        1
50.0        1
54.0        1
29.0        1
52.0        1
Name: count, Length: 62, dtype: int64
others_12
220     1237
242     1232
239     1148
234     1123
246     1115
        ...
2454       1
334        1
524        1
2206       1
829        1
Name: count, Length: 811, dtype: int64
others_13
220     1231
242     1226
239     1151
234     1124
246     1114
        ...
442        1
302        1
908        1
1150       1
297        1
Name: count, Length: 399, dtype: int64
others_14
1    94415
2     1842
3       57
4       21
5        2
8        1
Name: count, dtype: int64
others_18
1    93700
2     2492
3      115
4       28
5        2
8        1
Name: count, dtype: int64
others_19
0.0    95896
1.0      442
Name: count, dtype: int64
others_20
0.0    96136
1.0      202
Name: count, dtype: int64
others_21
0.0       39476
1.0        6694
2.0        4770
3.0        3652
4.0        2935
          ...
1517.0        1
148.0         1
728.0         1
1020.0        1
348.0         1
Name: count, Length: 386, dtype: int64
others_22
0.0      23675
1.0       4959
2.0       4007
3.0       3280
4.0       2762
         ...
439.0        1
624.0        1
303.0        1
468.0        1
398.0        1
Name: count, Length: 629, dtype: int64
others_23
0.0      79476
1.0       1242
2.0        555
3.0        313
4.0        193
         ...
530.0        1
367.0        1
284.0        1
157.0        1
122.0        1
Name: count, Length: 222, dtype: int64
others_24
0.0      76779
1.0       2149
2.0        942
3.0        552
4.0        371
         ...
186.0        1
138.0        1
413.0        1
224.0        1
355.0        1
Name: count, Length: 281, dtype: int64
others_25
0.0      38399
1.0       6897
2.0       4915
3.0       3739
4.0       2999
         ...
284.0        1
210.0        1
209.0        1
764.0        1
151.0        1
Name: count, Length: 459, dtype: int64
others_26
0.0       22177
1.0        5184
2.0        4125
3.0        3381
4.0        2846
          ...
383.0         1
319.0         1
1376.0        1
659.0         1
400.0         1
Name: count, Length: 665, dtype: int64
others_27
9999.0    95759
2.0          11
116.0         9
129.0         9
4.0           9
          ...
217.0         1
17.0          1
78.0          1
166.0         1
388.0         1
Name: count, Length: 223, dtype: int64
others_28
9999.0    94686
1.0          36
2.0          29
3.0          26
4.0          26
          ...
297.0         1
1470.0        1
400.0         1
600.0         1
28.0          1
Name: count, Length: 308, dtype: int64
others_29
0.0    95668
1.0      670
Name: count, dtype: int64
others_30
0.0    93971
1.0     2367
Name: count, dtype: int64
others_31
0.0    95692
1.0      646
Name: count, dtype: int64
others_32
0.0    95047
1.0     1291
Name: count, dtype: int64
demog_23
220.0     1225
242.0     1223
239.0     1129
234.0     1115
246.0     1110
          ...
1570.0       1
452.0        1
1068.0       1
1857.0       1
496.0        1
Name: count, Length: 1457, dtype: int64
demog_24
10078.0    509
10443.0    481
8617.0     477
9712.0     457
9347.0     447
          ...
20311.0      1
17001.0      1
27087.0      1
14798.0      1
25757.0      1
Name: count, Length: 14975, dtype: int64
demog_25
0.0    95744
1.0      594
Name: count, dtype: int64
demog_26
24.0    5379
23.0    5367
26.0    5241
25.0    5097
27.0    4902
        ...
89.0       3
94.0       2
93.0       2
92.0       1
0.0        1
Name: count, Length: 95, dtype: int64
demog_27
0.0    95124
1.0     1214
Name: count, dtype: int64
demog_28
1.0    96332
0.0        6
Name: count, dtype: int64
demog_29
0.0    96113
1.0      225
Name: count, dtype: int64
demog_30
0.0    85771
1.0    10566
Name: count, dtype: int64
demog_31
0.0    96015
1.0      322
Name: count, dtype: int64
demog_32
0.0    59995
1.0    36342
Name: count, dtype: int64
demog_33
1.0    92664
0.0     3673
Name: count, dtype: int64
demog_34
1.0    96337
Name: count, dtype: int64
demog_35
0.0    95743
1.0      594
Name: count, dtype: int64
demog_36
0.0    95782
1.0      555
Name: count, dtype: int64
demog_37
0.0    96336
1.0        1
Name: count, dtype: int64
demog_38
0.0    96337
Name: count, dtype: int64
others_33
0    95923
1      415
Name: count, dtype: int64
others_34
0    95424
1      914
Name: count, dtype: int64
others_35
0    82233
1    14105
Name: count, dtype: int64
others_36
0    49096
1    47242
Name: count, dtype: int64
others_37
0    94811
1     1527
Name: count, dtype: int64
others_38
0    96294
1       44
Name: count, dtype: int64
others_39
0    89964
1     6374
Name: count, dtype: int64
others_40
0.0    95870
1.0      468
Name: count, dtype: int64
others_41
0.0    96116
1.0      222
Name: count, dtype: int64
demog_39
1    96333
0        5
Name: count, dtype: int64
email_domain
gmail      85881
Others      8166
yahoo       1181
idfc         327
hotmail      303
rediff       197
outlook      169
icloud        95
aol           15
msn            4
Name: count, dtype: int64
demog_40
low       55488
High      21080
medium    19616
Name: count, dtype: int64
demog_41
1    96326
0       12
Name: count, dtype: int64
demog_42
1    95844
0      494
Name: count, dtype: int64
demog_43
medium    61188
High      26294
low        8810
Name: count, dtype: int64

### checking the relationship fo different feature with fradulent account

- all frauds have country code IN
- most frauds have income of less than 5Lakhs
- most frauds(1980) have deograph 3 = 101
- most frauds have demographic 4 = N
and so on

if a feature have a particular value in major amount then it is important as we have only 2000 fraud accounts. : (choose them)

if a feature has very high biased value overall then its relation with the target is not useful for prediction(Constant) : (Drop them)

In [84]:
# Function to compare value counts side by side
def compare_value_counts(df, target_col):
    columns = df.columns.drop(target_col)
    for col in columns:
        value_counts_1 = df[df[target_col] == 1][col].value_counts().rename('Target=1')
        value_counts_all = df[col].value_counts().rename('All')
        comparison = pd.concat([value_counts_1, value_counts_all], axis=1).fillna(0).astype(int)
        print(f"Value counts comparison for column: {col}")
        print(comparison)
        print('\n' + '-'*50 + '\n')

# Compare value counts
compare_value_counts(train_df, 'Target')

Value counts comparison for column: account_opening_date
                      Target=1   All
account_opening_date
12-01-2023                  36   976
02-02-2023                  34   965
16-12-2022                  32  1031
03-02-2023                  30  1158
15-12-2022                  29  1136
...                        ...   ...
25-12-2022                   7   401
20-03-2023                   7   661
05-03-2023                   6   275
05-02-2023                   6   580
19-03-2023                   2   307

[121 rows x 2 columns]

--------------------------------------------------

Value counts comparison for column: country_code
              Target=1    All
country_code
IN                2000  95844
US                   0    132
GB                   0     57
AE                   0     48
CA                   0     36
AU                   0     34
SG                   0     26
SA                   0     19
DE                   0     17
JP                   0     10
NZ                   0      8
KW                   0      8
IE                   0      7
QA                   0      7
HK                   0      7
MY                   0      6
FR                   0      5
NL                   0      4
OM                   0      4
PL                   0      4
CH                   0      4
PH                   0      3
BE                   0      3
LK                   0      3
FI                   0      2
SE                   0      2
ID                   0      2
FJ                   0      2
GH                   0      2
ZA                   0      2
ZM                   0      2
BH                   0      2
NG                   0      2
ES                   0      2
PT                   0      1
CN                   0      1
MX                   0      1
CZ                   0      1
CL                   0      1
MU                   0      1
KR                   0      1
SI                   0      1
LU                   0      1
KY                   0      1
DK                   0      1
JO                   0      1
MG                   0      1
TH                   0      1
RU                   0      1

--------------------------------------------------

Value counts comparison for column: demog_1
         Target=1    All
demog_1
55.0         1224  66012
53.0          438  16229
401.0         211   6858
56.0          120   5259
51.0            7    864
52.0            0    859
54.0            0    157
405.0           0     48
421.0           0     18
57.0            0     14
252.0           0      5
123.0           0      2
124.0           0      1
84.0            0      1
227.0           0      1
58.0            0      1

--------------------------------------------------

Value counts comparison for column: demog_2
         Target=1    All
demog_2
1.0           615  36791
2.0           461  11833
3.0           442  14690
6.0           207   9120
7.0           186   4802
4.0            74   4769
5.0            11    940
11              2    427
9               2      7
1               0   5217
3               0   2004
2               0   1633
6               0   1274
10.0            0    916
7               0    691
4               0    655
17.0            0    202
10              0    142
5               0    124
11              0     55
17              0     23
15.0            0     10
ZZ              0      3
16.0            0      2

--------------------------------------------------

Value counts comparison for column: income
                    Target=1    All
income
100001 to 5L            1080  48612
0 to 1L                  647  32781
5L to 10L                177   9201
10L to 25L                60   3687
25L to 50L                21   1162
50L to 3Crore             13    686
3Crore to 5Crore           1     37
0                          0    157
5Crore to 10Crore          0      6
20Crore to 35Crore         0      2
10Crore to 15Crore         0      1
15Crore to 20Crore         0      1

--------------------------------------------------

Value counts comparison for column: demog_3
         Target=1    All
demog_3
101.0        1980  92773
103.0          18   2215
104.0           1    512
102.0           0    593
213.0           0    225
168.0           0      8
105.0           0      4
106.0           0      3

--------------------------------------------------

Value counts comparison for column: city_tier
           Target=1    All
city_tier
Rural           538  19423
Tier 1          354  25679
Tier 8          274  12077
Tier 6          211   8977
Tier 7          209  10389
Tier 2          127   4944
Tier 3          126   6326
Tier 5           96   5628
Tier 4           64   2304

--------------------------------------------------

Value counts comparison for column: occupation
               Target=1    All
occupation
Self_Employed       878  29912
Salaried            438  27230
Other               397  21713
Student             202  10444
Homemaker            72   5467
Retired              11   1093
Unemployed            1     52
Minor                 1    426

--------------------------------------------------

Value counts comparison for column: demog_4
         Target=1    All
demog_4
N            1929  90140
5               1    404
6               1    455
7               0    114
2               0     28
1               0     15
3               0      1

--------------------------------------------------

Value counts comparison for column: demog_5
         Target=1    All
demog_5
4.0           931  48554
3.0           644  27893
2.0           344  17672
1.0            65   2195

--------------------------------------------------

Value counts comparison for column: demog_6
         Target=1    All
demog_6
1.0          1998  95326
2.0             1    422
3.0             1    474
4.0             0    116

--------------------------------------------------

Value counts comparison for column: demog_7
         Target=1    All
demog_7
1.0          1999  96333

--------------------------------------------------

Value counts comparison for column: demog_8
         Target=1    All
demog_8
41.0         1644  80046
42.0          309  15976
52.0            0    225

--------------------------------------------------

Value counts comparison for column: demog_9
         Target=1    All
demog_9
False        1131  58684
True           36  28399

--------------------------------------------------

Value counts comparison for column: demog_10
          Target=1    All
demog_10
N             1999  96335

--------------------------------------------------

Value counts comparison for column: demog_11
          Target=1    All
demog_11
0.0           2000  96113
1.0              0    225

--------------------------------------------------

Value counts comparison for column: demog_12
          Target=1    All
demog_12
False         2000  96338

--------------------------------------------------

Value counts comparison for column: demog_13
          Target=1    All
demog_13
True          1762  92210
False          233   4118

--------------------------------------------------

Value counts comparison for column: demog_14
          Target=1    All
demog_14
False         1994  96165
True             1    163

--------------------------------------------------

Value counts comparison for column: demog_15
          Target=1    All
demog_15
True          1556  75178
False          439  21150

--------------------------------------------------

Value counts comparison for column: demog_16
          Target=1    All
demog_16
True          1982  96302
False           13     26

--------------------------------------------------

Value counts comparison for column: demog_17
          Target=1    All
demog_17
True          1762  92210
False          238   4128

--------------------------------------------------

Value counts comparison for column: demog_18
          Target=1    All
demog_18
False         1998  96100
True             2    238

--------------------------------------------------

Value counts comparison for column: demog_19
          Target=1    All
demog_19
True          2000  96333
False            0      5

--------------------------------------------------

Value counts comparison for column: demog_20
          Target=1    All
demog_20
False         1773  60543
True           227  35795

--------------------------------------------------

Value counts comparison for column: demog_21
          Target=1    All
demog_21
False         1891  75346
True           109  20992

--------------------------------------------------

Value counts comparison for column: demog_22
          Target=1    All
demog_22
Y             2000  95964
N                0    374

--------------------------------------------------

Value counts comparison for column: others_1
          Target=1    All
others_1
0             1773  60470
1              227  35868

--------------------------------------------------

Value counts comparison for column: others_2
          Target=1    All
others_2
0             1989  87856
1               11   8482

--------------------------------------------------

Value counts comparison for column: others_3
          Target=1    All
others_3
0.0           1947  95706
1.0             53    632

--------------------------------------------------

Value counts comparison for column: others_4
          Target=1    All
others_4
0.0           1975  94163
1.0             25   2175

--------------------------------------------------

Value counts comparison for column: others_5
          Target=1    All
others_5
0.0           1069  29501
1.0            897  53681

--------------------------------------------------

Value counts comparison for column: others_6
          Target=1  All
others_6
8.0             53   80
15.0            48   75
16.0            47   73
9.0             45   63
11.0            43   63
...            ...  ...
334.0            0    1
524.0            0    1
2206.0           0    1
1266.0           0    1
829.0            0    1

[951 rows x 2 columns]

--------------------------------------------------

Value counts comparison for column: others_7
          Target=1  All
others_7
8.0             53  106
15.0            49  104
16.0            47  101
9.0             45  101
12.0            43   91
...            ...  ...
1160.0           0    1
858.0            0    1
1970.0           0    1
347.0            0    1
714.0            0    1

[299 rows x 2 columns]

--------------------------------------------------

Value counts comparison for column: others_8
          Target=1    All
others_8
1.0           1987  88755
2.0             12   5410
4.0              1    407
3.0              0   1081
5.0              0    201
6.0              0    146
7.0              0     95
8.0              0     65
10.0             0     37
9.0              0     29
11.0             0     27
12.0             0     13
13.0             0     11
14.0             0     11
15.0             0      7
18.0             0      6
17.0             0      5
16.0             0      4
22.0             0      3
19.0             0      3
21.0             0      3
20.0             0      3
25.0             0      2
28.0             0      2
23.0             0      2
32.0             0      2
63.0             0      1
30.0             0      1
39.0             0      1
31.0             0      1
40.0             0      1

--------------------------------------------------

Value counts comparison for column: others_9
          Target=1  All
others_9
8.0             47   62
15.0            46   65
12.0            41   61
11.0            40   48
16.0            40   59
...            ...  ...
2871.0           0    1
3696.0           0    1
1748.0           0    1
2778.0           0    1
1928.0           0    1

[2169 rows x 2 columns]

--------------------------------------------------

Value counts comparison for column: others_10
           Target=1  All
others_10
8.0              52  148
15.0             49  153
16.0             47  146
12.0             44  136
9.0              44  150
...             ...  ...
308.0             0    1
1870.0            0    1
1160.0            0    1
858.0             0    1
714.0             0    1

[291 rows x 2 columns]

--------------------------------------------------

Value counts comparison for column: others_11
           Target=1    All
others_11
1.0            1779  58959
2.0             180  23861
3.0              25   7574
4.0               9   2891
6.0               3    657
...             ...    ...
49.0              0      1
50.0              0      1
54.0              0      1
29.0              0      1
52.0              0      1

[62 rows x 2 columns]

--------------------------------------------------

Value counts comparison for column: others_12
           Target=1  All
others_12
8                53   79
15               49   76
16               47   73
9                45   63
11               43   63
...             ...  ...
2454              0    1
334               0    1
524               0    1
2206              0    1
829               0    1

[811 rows x 2 columns]

--------------------------------------------------

Value counts comparison for column: others_13
           Target=1  All
others_13
8                53   79
15               49   78
16               47   76
9                45   65
12               43   75
...             ...  ...
442               0    1
302               0    1
908               0    1
1150              0    1
297               0    1

[399 rows x 2 columns]

--------------------------------------------------

Value counts comparison for column: others_14
           Target=1    All
others_14
1              1995  94415
2                 5   1842
3                 0     57
4                 0     21
5                 0      2
8                 0      1

--------------------------------------------------

Value counts comparison for column: others_18
           Target=1    All
others_18
1              1994  93700
2                 6   2492
3                 0    115
4                 0     28
5                 0      2
8                 0      1

--------------------------------------------------

Value counts comparison for column: others_19
           Target=1    All
others_19
0.0            1998  95896
1.0               2    442

--------------------------------------------------

Value counts comparison for column: others_20
           Target=1    All
others_20
0.0            2000  96136
1.0               0    202

--------------------------------------------------

Value counts comparison for column: others_21
           Target=1    All
others_21
0.0             243  39476
1.0              62   6694
3.0              52   3652
5.0              49   2458
4.0              43   2935
...             ...    ...
690.0             0      1
2869.0            0      1
265.0             0      1
207.0             0      1
202.0             0      1

[386 rows x 2 columns]

--------------------------------------------------

Value counts comparison for column: others_22
           Target=1    All
others_22
0.0             144  23675
1.0              50   4959
3.0              45   3280
5.0              42   2404
2.0              41   4007
...             ...    ...
685.0             0      1
439.0             0      1
624.0             0      1
303.0             0      1
468.0             0      1

[629 rows x 2 columns]

--------------------------------------------------

Value counts comparison for column: others_23
           Target=1    All
others_23
0.0            1333  79476
1.0              76   1242
2.0              38    555
3.0              30    313
4.0              21    193
...             ...    ...
74.0              0      1
112.0             0      1
111.0             0      1
156.0             0      1
367.0             0      1

[222 rows x 2 columns]

--------------------------------------------------

Value counts comparison for column: others_24
           Target=1    All
others_24
0.0            1220  76779
1.0              85   2149
2.0              56    942
3.0              40    552
4.0              24    371
...             ...    ...
269.0             0      1
111.0             0      1
450.0             0      1
296.0             0      1
114.0             0      1

[281 rows x 2 columns]

--------------------------------------------------

Value counts comparison for column: others_25
           Target=1    All
others_25
0.0             104  38399
1.0              54   6897
5.0              40   2500
3.0              39   3739
6.0              38   1985
...             ...    ...
394.0             0      1
991.0             0      1
353.0             0      1
210.0             0      1
209.0             0      1

[459 rows x 2 columns]

--------------------------------------------------

Value counts comparison for column: others_26
           Target=1   All
others_26
1.0              37  5184
5.0              31  2446
18.0             30   908
9.0              30  1589
15.0             30  1068
...             ...   ...
1675.0            0     1
383.0             0     1
319.0             0     1
1376.0            0     1
659.0             0     1

[665 rows x 2 columns]

--------------------------------------------------

Value counts comparison for column: others_27
           Target=1    All
others_27
9999.0         1992  95759
388.0             1      1
12.0              1      2
26.0              1      2
60.0              1      5
...             ...    ...
145.0             0      1
217.0             0      1
17.0              0      1
78.0              0      1
166.0             0      1

[223 rows x 2 columns]

--------------------------------------------------

Value counts comparison for column: others_28
           Target=1    All
others_28
 9999.0        1962  94686
 2.0              4     29
 0.0              2      3
 1.0              2     36
-1.0              2     19
...             ...    ...
 104.0            0      1
 297.0            0      1
 1470.0           0      1
 400.0            0      1
 600.0            0      1

[308 rows x 2 columns]

--------------------------------------------------

Value counts comparison for column: others_29
           Target=1    All
others_29
0.0            1955  95668
1.0              45    670

--------------------------------------------------

Value counts comparison for column: others_30
           Target=1    All
others_30
0.0            1967  93971
1.0              33   2367

--------------------------------------------------

Value counts comparison for column: others_31
           Target=1    All
others_31
0.0            1958  95692
1.0              42    646

--------------------------------------------------

Value counts comparison for column: others_32
           Target=1    All
others_32
0.0            1979  95047
1.0              21   1291

--------------------------------------------------

Value counts comparison for column: demog_23
          Target=1  All
demog_23
16.0            53   74
8.0             45   64
9.0             44   73
15.0            43   67
17.0            41   59
...            ...  ...
775.0            0    1
1570.0           0    1
452.0            0    1
1068.0           0    1
1857.0           0    1

[1457 rows x 2 columns]

--------------------------------------------------

Value counts comparison for column: demog_24
          Target=1  All
demog_24
7318.0           5    9
8679.0           4   15
8390.0           4   29
8039.0           4   18
8090.0           4   17
...            ...  ...
27291.0          0    1
20311.0          0    1
17001.0          0    1
27087.0          0    1
14798.0          0    1

[14975 rows x 2 columns]

--------------------------------------------------

Value counts comparison for column: demog_25
          Target=1    All
demog_25

### Manually Selected Features
1. country_code
2. demog_1 
3. demog_2
4. income
5. demog_3
6. city_tier
7. occupation
8. demog_4
9. demog_5
11. demog_8
12. demog_9
13. demog_15
14. demog_20
15. demog_21
16. os
17. other_1
18. other_5
19. other_11
20. demog_30
21. demog_32
22. demog_33
23. other_35
24. other_36
25. email_domain
26. demog_40
27. demog_43

## Properly formatting our data

### account_opening_date

In [85]:
train_df['account_opening_date'] = pd.to_datetime(train_df['account_opening_date'], format='%d-%m-%Y')  
validation_df['account_opening_date'] = pd.to_datetime(validation_df['account_opening_date'], format='%d-%m-%Y')

In [86]:
train_df[train_df['Target'] ==1 ]['account_opening_date'].dt.year.value_counts()

account_opening_date
2023    1383
2022     617
Name: count, dtype: int64

In [87]:
train_df[train_df['Target'] ==1 ]['account_opening_date'].dt.month_name().value_counts()

account_opening_date
December    617
January     553
February    464
March       366
Name: count, dtype: int64

most of the fraudulent accounts are opened in 2023

#### income

In [88]:
train_df['income'].value_counts()

income
100001 to 5L          48612
0 to 1L               32781
5L to 10L              9201
10L to 25L             3687
25L to 50L             1162
50L to 3Crore           686
0                       157
3Crore to 5Crore         37
5Crore to 10Crore         6
20Crore to 35Crore        2
10Crore to 15Crore        1
15Crore to 20Crore        1
Name: count, dtype: int64

In [89]:
train_df['income'].dtypes

dtype('O')

In [90]:
# Define a function to map ranges to categories
def map_to_category(range_str):
    if isinstance(range_str, float):
        return 'Very Low'
    if '0 to 1L' in range_str:
        return 'Very Low'
    if '100001 to 5L' in range_str:
        return 'Low'
    if '5L to 10L' in range_str:
        return 'Medium'
    else:
        return 'High'

# Ensure all values in the 'income' column are strings
train_df['income'] = train_df['income'].astype(str)
# Apply the mapping function
train_df['income_category'] = train_df['income'].map(map_to_category)
train_df.drop(columns = 'income', inplace = True)

validation_df['income'] = validation_df['income'].astype(str)
validation_df['income_category'] = validation_df['income'].map(map_to_category) 
validation_df.drop(columns = 'income', inplace = True)

In [91]:
train_df['income_category'].value_counts()

income_category
Low         48612
Very Low    32781
Medium       9201
High         5744
Name: count, dtype: int64

In [92]:
train_df['country_code'].value_counts()

country_code
IN    95844
US      132
GB       57
AE       48
CA       36
AU       34
SG       26
SA       19
DE       17
JP       10
NZ        8
KW        8
IE        7
QA        7
HK        7
MY        6
FR        5
NL        4
OM        4
PL        4
CH        4
PH        3
BE        3
LK        3
FI        2
SE        2
ID        2
FJ        2
GH        2
ZA        2
ZM        2
BH        2
NG        2
ES        2
PT        1
CN        1
MX        1
CZ        1
CL        1
MU        1
KR        1
SI        1
LU        1
KY        1
DK        1
JO        1
MG        1
TH        1
RU        1
Name: count, dtype: int64

In [93]:
# Define a function to map country codes to categories
def map_to_category(range_str):
    if isinstance(range_str, str) and 'IN' in range_str:
        return 'INDIA'
    else:
        return 'OTHER'

# Ensure all values in the 'country_code' column are strings
train_df['country_code'] = train_df['country_code'].astype(str)

# Apply the mapping function
train_df['country_code'] = train_df['country_code'].map(map_to_category)

validation_df['country_code'] = validation_df['country_code'].astype(str)
validation_df['country_code'] = validation_df['country_code'].map(map_to_category)

In [94]:
train_df['country_code'].value_counts()

country_code
INDIA    95844
OTHER      494
Name: count, dtype: int64

In [95]:
pd.set_option('display.max_columns', None)
train_df

,Target,account_opening_date,country_code,demog_1,demog_2,demog_3,city_tier,occupation,demog_4,demog_5,demog_6,demog_7,demog_8,demog_9,demog_10,demog_11,demog_12,demog_13,demog_14,demog_15,demog_16,demog_17,demog_18,demog_19,demog_20,demog_21,demog_22,others_1,others_2,others_3,others_4,others_5,others_6,others_7,others_8,others_9,others_10,others_11,others_12,others_13,others_14,others_18,others_19,others_20,others_21,others_22,others_23,others_24,others_25,others_26,others_27,others_28,others_29,others_30,others_31,others_32,demog_23,demog_24,demog_25,demog_26,demog_27,demog_28,demog_29,demog_30,demog_31,demog_32,demog_33,demog_34,demog_35,demog_36,demog_37,demog_38,others_33,others_34,others_35,others_36,others_37,others_38,others_39,others_40,others_41,demog_39,email_domain,demog_40,demog_41,demog_42,demog_43,income_category
0,0,2023-02-18,INDIA,53.0,3.0,101.0,Rural,Self_Employed,N,3.0,1.0,1.0,41.0,False,N,0.0,False,True,False,True,True,True,False,True,True,False,Y,1,1,0.0,0.0,1.0,168.0,133.0,2.0,689.0,133.0,3.0,168,168,1,1,0.0,0.0,8.0,16.0,0.0,0.0,8.0,16.0,9999.0,9999.0,0.0,0.0,0.0,0.0,168.0,7481.0,0.0,20.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0,0,0,0,0,0,0,0.0,0.0,1,gmail,low,1,1,medium,Low
1,0,2023-02-01,INDIA,55.0,1.0,101.0,Tier 1,Salaried,N,2.0,1.0,1.0,41.0,True,N,0.0,False,True,False,True,True,True,False,True,True,True,Y,1,0,0.0,0.0,1.0,185.0,185.0,1.0,568.0,185.0,3.0,185,185,1,1,0.0,0.0,0.0,13.0,0.0,0.0,0.0,13.0,9999.0,9999.0,0.0,0.0,0.0,0.0,185.0,17461.0,0.0,48.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0,0,0,1,0,0,1,0.0,0.0,1,gmail,High,1,1,High,Very Low
2,0,2022-12-09,INDIA,55.0,3.0,101.0,Tier 2,Self_Employed,N,4.0,1.0,1.0,41.0,False,N,0.0,False,True,False,True,True,True,False,True,False,False,Y,0,1,0.0,0.0,1.0,239.0,239.0,1.0,239.0,239.0,1.0,239,239,1,1,0.0,0.0,4.0,14.0,0.0,0.0,4.0,14.0,9999.0,9999.0,0.0,0.0,0.0,0.0,239.0,8788.0,0.0,24.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0,0,1,1,0,0,0,0.0,0.0,1,gmail,medium,1,1,High,Very Low
3,0,2023-03-31,INDIA,53.0,3.0,101.0,Tier 7,Self_Employed,N,4.0,1.0,1.0,41.0,NaN,N,0.0,False,True,False,True,True,True,False,True,False,False,Y,0,0,0.0,0.0,1.0,127.0,127.0,1.0,127.0,127.0,1.0,127,127,1,1,0.0,0.0,4.0,21.0,0.0,0.0,4.0,21.0,9999.0,9999.0,0.0,0.0,0.0,0.0,127.0,7065.0,0.0,19.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0,0,0,0,0,0,0,0.0,0.0,1,gmail,High,1,1,High,Low
4,0,2023-01-17,INDIA,55.0,6.0,101.0,Tier 1,Student,N,4.0,1.0,1.0,41.0,False,N,0.0,False,True,False,True,True,True,False,True,False,False,Y,0,0,0.0,0.0,1.0,200.0,200.0,1.0,200.0,200.0,1.0,200,200,1,1,0.0,0.0,1.0,3.0,0.0,0.0,1.0,3.0,9999.0,9999.0,0.0,0.0,0.0,0.0,200.0,8617.0,0.0,24.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0,0,0,0,0,0,0,0.0,0.0,1,gmail,low,1,1,medium,Very Low
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,1,2022-12-21,INDIA,55.0,2,101.0,Rural,Self_Employed,N,4.0,1.0,1.0,42.0,False,N,0.0,False,True,False,True,True,True,False,True,False,False,Y,0,0,0.0,0.0,0.0,49.0,49.0,1.0,49.0,49.0,1.0,49,49,1,1,0.0,0.0,15.0,15.0,3.0,7.0,18.0,22.0,9999.0,9999.0,0.0,0.0,0.0,0.0,49.0,7299.0,0.0,20.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0,0,0,1,0,0,0,0.0,0.0,1,gmail,High,1,1,High,Very Low
99996,1,2023-03-17,INDIA,55.0,6,101.0,Rural,Student,N,3.0,1.0,1.0,41.0,NaN,N,0.0,False,True,False,True,True,True,False,True,True,False,Y,1,0,0.0,0.0,0.0,8.0,8.0,1.0,370.0,8.0,2.0,8,8,1,1,0.0,0.0,13.0,13.0,13.0,13.0,26.0,26.0,9999.0,9999.0,0.0,0.0,0.0,0.0,9.0,9089.0,0.0,25.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0,0,0,1,0,0,0,0.0,0.0,1,gmail,low,1,1,medium,Low
99997,1,2022-12-08,INDIA,55.0,1,101.0,Tier 6,Salaried,N,4.0,1.0,1.0,41.0,False,N,0.0,False,True,False,True,True,True,False,True,False,False,Y,0,0,1.0,0.0,0.0,23.0,23.0,1.0,23.0,23.0,1.0,23,23,1,1,0.0,0.0,8.0,8.0,0.0,0.0,8.0,8.0,9999.0,9999.0,1.0,0.0,1.0,0.0,23.0,9629.0,0.0,26.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0,0,0,1,0,0,0,0.0,0.0,1,gmail,High,1,1,medium,Low
99998,1,2023-03-03,INDIA,55.0,1,101.0,Tier 1,Other,N,3.0,1.0,1.0,42.0,NaN,N,0.0,False,True,False,False,True,True,False,True,False,False,Y,0,0,0.0,0.0,0.0,106.0,106.0,1.0,106.0,106.0,1.0,106,106,1,1,0.0,0.0,2.0,21.0,0.0,0.0,2.0,21.0,9999.0,9999.0,0.0,0.0,0.0,0.0,106.0,8487.0,0.0,23.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0,0,0,1,0,0,0,0.0,0.0,1,gmail,High,1,1,High,Medium
99999,1,2023-02-03,INDIA,401.0,2,101.0,Tier 7,Self_Employed,N,3.0,1.0,1.0,41.0,NaN,N,0.0,False,True,False,False,True,True,False,True,False,False,Y,0,0,0.0,0.0,0.0,99.0,99.0,1.0,99.0,99.0,1.0,99,99,1,1,0.0,0.0,0.0,193.0,0.0,0.0,0.0,193.0,9999.0,9999.0,0.0,0.0,0.0,0.0,114.0,9449.0,0.0,26.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0,0,0,1,0,0,1,0.0,0.0,1,gmail,medium,1,1,medium,Medium

In [96]:
train_df['occupation'].value_counts()

occupation
Self_Employed    29912
Salaried         27230
Other            21713
Student          10444
Homemaker         5467
Retired           1093
Minor              426
Unemployed          52
Name: count, dtype: int64

In [97]:
train_df['city_tier'].value_counts()

city_tier
Tier 1    25679
Rural     19423
Tier 8    12077
Tier 7    10389
Tier 6     8977
Tier 3     6326
Tier 5     5628
Tier 2     4944
Tier 4     2304
Name: count, dtype: int64

In [98]:
categorical_columns = train_df.select_dtypes(include=['object']).columns

In [99]:
train_df[categorical_columns]

,country_code,demog_2,city_tier,occupation,demog_4,demog_9,demog_10,demog_12,demog_13,demog_14,demog_15,demog_16,demog_17,demog_18,demog_19,demog_20,demog_21,demog_22,email_domain,demog_40,demog_43,income_category
0,INDIA,3.0,Rural,Self_Employed,N,False,N,False,True,False,True,True,True,False,True,True,False,Y,gmail,low,medium,Low
1,INDIA,1.0,Tier 1,Salaried,N,True,N,False,True,False,True,True,True,False,True,True,True,Y,gmail,High,High,Very Low
2,INDIA,3.0,Tier 2,Self_Employed,N,False,N,False,True,False,True,True,True,False,True,False,False,Y,gmail,medium,High,Very Low
3,INDIA,3.0,Tier 7,Self_Employed,N,NaN,N,False,True,False,True,True,True,False,True,False,False,Y,gmail,High,High,Low
4,INDIA,6.0,Tier 1,Student,N,False,N,False,True,False,True,True,True,False,True,False,False,Y,gmail,low,medium,Very Low
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,INDIA,2,Rural,Self_Employed,N,False,N,False,True,False,True,True,True,False,True,False,False,Y,gmail,High,High,Very Low
99996,INDIA,6,Rural,Student,N,NaN,N,False,True,False,True,True,True,False,True,True,False,Y,gmail,low,medium,Low
99997,INDIA,1,Tier 6,Salaried,N,False,N,False,True,False,True,True,True,False,True,False,False,Y,gmail,High,medium,Low
99998,INDIA,1,Tier 1,Other,N,NaN,N,False,True,False,False,True,True,False,True,False,False,Y,gmail,High,High,Medium
99999,INDIA,2,Tier 7,Self_Employed,N,NaN,N,False,True,False,False,True,True,False,True,False,False,Y,gmail,medium,medium,Medium

In [100]:
train_df['demog_2'].value_counts()

demog_2
1.0     36791
3.0     14690
2.0     11833
6.0      9120
1        5217
7.0      4802
4.0      4769
3        2004
2        1633
6        1274
5.0       940
10.0      916
7         691
4         655
11.0      427
17.0      202
10        142
5         124
11         55
17         23
15.0       10
9.0         7
ZZ          3
16.0        2
Name: count, dtype: int64

In [101]:
train_df[train_df['demog_2'] == 'ZZ']

,Target,account_opening_date,country_code,demog_1,demog_2,demog_3,city_tier,occupation,demog_4,demog_5,demog_6,demog_7,demog_8,demog_9,demog_10,demog_11,demog_12,demog_13,demog_14,demog_15,demog_16,demog_17,demog_18,demog_19,demog_20,demog_21,demog_22,others_1,others_2,others_3,others_4,others_5,others_6,others_7,others_8,others_9,others_10,others_11,others_12,others_13,others_14,others_18,others_19,others_20,others_21,others_22,others_23,others_24,others_25,others_26,others_27,others_28,others_29,others_30,others_31,others_32,demog_23,demog_24,demog_25,demog_26,demog_27,demog_28,demog_29,demog_30,demog_31,demog_32,demog_33,demog_34,demog_35,demog_36,demog_37,demog_38,others_33,others_34,others_35,others_36,others_37,others_38,others_39,others_40,others_41,demog_39,email_domain,demog_40,demog_41,demog_42,demog_43,income_category
24981,0,2022-12-05,INDIA,54.0,ZZ,101.0,Tier 1,Salaried,NaN,4.0,1.0,1.0,NaN,True,N,0.0,False,True,False,False,True,True,False,True,True,False,Y,1,1,1.0,1.0,1.0,243.0,5.0,4.0,466.0,5.0,5.0,243,243,1,1,1.0,0.0,31.0,107.0,0.0,0.0,31.0,107.0,9999.0,9999.0,1.0,1.0,1.0,1.0,1104.0,10236.0,0.0,28.0,1.0,1.0,0.0,1.0,0.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0,0,1,1,0,0,0,1.0,1.0,1,gmail,low,1,1,medium,High
60237,0,2023-03-24,INDIA,54.0,ZZ,101.0,Tier 1,Salaried,NaN,4.0,1.0,1.0,NaN,False,N,0.0,False,True,False,False,True,True,False,True,False,False,N,0,1,1.0,1.0,1.0,134.0,134.0,1.0,134.0,134.0,1.0,134,134,1,1,1.0,1.0,10.0,24.0,0.0,0.0,10.0,24.0,9999.0,9999.0,1.0,1.0,1.0,1.0,1782.0,14509.0,0.0,40.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0,0,0,0,0,0,0,1.0,1.0,1,yahoo,medium,1,1,medium,High
79880,0,2023-01-21,INDIA,53.0,ZZ,101.0,Tier 1,Salaried,NaN,4.0,1.0,1.0,NaN,True,N,0.0,False,True,False,False,True,True,False,True,False,False,Y,0,0,0.0,0.0,1.0,196.0,196.0,1.0,196.0,196.0,1.0,196,196,1,1,0.0,0.0,0.0,7.0,0.0,1.0,0.0,8.0,9999.0,9999.0,0.0,0.0,0.0,0.0,492.0,17172.0,0.0,47.0,1.0,1.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0,0,0,1,0,0,0,0.0,0.0,1,Others,low,1,1,medium,High

In [102]:
validation_df[validation_df['demog_2'] == 'ZZ']

,account_opening_date,country_code,demog_1,demog_2,demog_3,city_tier,occupation,demog_4,demog_5,demog_6,demog_7,demog_8,demog_9,demog_10,demog_11,demog_12,demog_13,demog_14,demog_15,demog_16,demog_17,demog_18,demog_19,demog_20,demog_21,demog_22,others_1,others_2,others_3,others_4,others_5,others_6,others_7,others_8,others_9,others_10,others_11,others_12,others_13,others_14,others_18,others_19,others_20,others_21,others_22,others_23,others_24,others_25,others_26,others_27,others_28,others_29,others_30,others_31,others_32,demog_23,demog_24,demog_25,demog_26,demog_27,demog_28,demog_29,demog_30,demog_31,demog_32,demog_33,demog_34,demog_35,demog_36,demog_37,demog_38,others_33,others_34,others_35,others_36,others_37,others_38,others_39,others_40,others_41,demog_39,email_domain,demog_40,demog_41,demog_42,demog_43,income_category
14560,2023-02-22,INDIA,54.0,ZZ,101.0,Tier 1,Salaried,1,4.0,1.0,1.0,NaN,False,N,0.0,False,True,False,False,True,True,False,True,True,False,N,1.0,1.0,0.0,1.0,1.0,164.0,164.0,1.0,800.0,164.0,2.0,164.0,164.0,1.0,1.0,0.0,1.0,38.0,88.0,32.0,76.0,70.0,164.0,9999.0,9999.0,1.0,1.0,1.0,1.0,2367.0,12147.0,0.0,33.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1,gmail,medium,1,1,medium,High
46038,2022-12-03,INDIA,53.0,ZZ,101.0,Tier 1,Salaried,6,4.0,3.0,1.0,NaN,True,N,0.0,False,True,False,False,True,True,False,True,True,False,Y,1.0,1.0,0.0,0.0,1.0,245.0,245.0,1.0,1054.0,245.0,2.0,245.0,245.0,1.0,1.0,0.0,0.0,0.0,0.0,2.0,7.0,2.0,7.0,9999.0,9999.0,0.0,0.0,0.0,0.0,415.0,14833.0,0.0,41.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1,Others,low,1,1,medium,High

In [103]:
train_df.drop(index = train_df[train_df['demog_2'] == 'ZZ'].index, inplace = True)
validation_df.drop(index = validation_df[validation_df['demog_2'] == 'ZZ'].index, inplace = True)

In [104]:
train_df['demog_2'] = train_df['demog_2'].astype(float)
validation_df['demog_2'] = validation_df['demog_2'].astype(float)

In [105]:
categorical_columns = train_df.select_dtypes(include=['object']).columns

In [106]:
categorical_columns

Index(['country_code', 'city_tier', 'occupation', 'demog_4', 'demog_9',
       'demog_10', 'demog_12', 'demog_13', 'demog_14', 'demog_15', 'demog_16',
       'demog_17', 'demog_18', 'demog_19', 'demog_20', 'demog_21', 'demog_22',
       'email_domain', 'demog_40', 'demog_43', 'income_category'],
      dtype='object')

In [107]:
train_df[categorical_columns]

,country_code,city_tier,occupation,demog_4,demog_9,demog_10,demog_12,demog_13,demog_14,demog_15,demog_16,demog_17,demog_18,demog_19,demog_20,demog_21,demog_22,email_domain,demog_40,demog_43,income_category
0,INDIA,Rural,Self_Employed,N,False,N,False,True,False,True,True,True,False,True,True,False,Y,gmail,low,medium,Low
1,INDIA,Tier 1,Salaried,N,True,N,False,True,False,True,True,True,False,True,True,True,Y,gmail,High,High,Very Low
2,INDIA,Tier 2,Self_Employed,N,False,N,False,True,False,True,True,True,False,True,False,False,Y,gmail,medium,High,Very Low
3,INDIA,Tier 7,Self_Employed,N,NaN,N,False,True,False,True,True,True,False,True,False,False,Y,gmail,High,High,Low
4,INDIA,Tier 1,Student,N,False,N,False,True,False,True,True,True,False,True,False,False,Y,gmail,low,medium,Very Low
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,INDIA,Rural,Self_Employed,N,False,N,False,True,False,True,True,True,False,True,False,False,Y,gmail,High,High,Very Low
99996,INDIA,Rural,Student,N,NaN,N,False,True,False,True,True,True,False,True,True,False,Y,gmail,low,medium,Low
99997,INDIA,Tier 6,Salaried,N,False,N,False,True,False,True,True,True,False,True,False,False,Y,gmail,High,medium,Low
99998,INDIA,Tier 1,Other,N,NaN,N,False,True,False,False,True,True,False,True,False,False,Y,gmail,High,High,Medium
99999,INDIA,Tier 7,Self_Employed,N,NaN,N,False,True,False,False,True,True,False,True,False,False,Y,gmail,medium,medium,Medium

In [108]:
train_df['demog_4'].value_counts()

demog_4
N    90140
6      455
5      404
7      114
2       28
1       15
3        1
Name: count, dtype: int64

In [109]:
train_df.loc[train_df['demog_4'] == 'N', 'demog_4'] = 0
train_df['demog_4'] = train_df['demog_4'].astype(float)

validation_df.loc[validation_df['demog_4'] == 'N', 'demog_4'] = 0
validation_df['demog_4'] = validation_df['demog_4'].astype(float)

In [110]:
train_df['demog_10'].value_counts()

demog_10
N    96332
Name: count, dtype: int64

In [111]:
train_df.drop(columns = ['demog_10'], inplace = True)
validation_df.drop(columns = ['demog_10'], inplace = True)

In [112]:
train_df['demog_22'].value_counts()

demog_22
Y    95962
N      373
Name: count, dtype: int64

In [113]:
train_df[train_df['Target'] ==1]['demog_22'].value_counts()

demog_22
Y    2000
Name: count, dtype: int64

In [114]:
train_df.drop(columns = ['demog_22'], inplace = True)
validation_df.drop(columns = ['demog_22'], inplace = True)

In [115]:
categorical_columns = train_df.select_dtypes(include=['object']).columns

In [116]:
train_df[categorical_columns]

,country_code,city_tier,occupation,demog_9,demog_12,demog_13,demog_14,demog_15,demog_16,demog_17,demog_18,demog_19,demog_20,demog_21,email_domain,demog_40,demog_43,income_category
0,INDIA,Rural,Self_Employed,False,False,True,False,True,True,True,False,True,True,False,gmail,low,medium,Low
1,INDIA,Tier 1,Salaried,True,False,True,False,True,True,True,False,True,True,True,gmail,High,High,Very Low
2,INDIA,Tier 2,Self_Employed,False,False,True,False,True,True,True,False,True,False,False,gmail,medium,High,Very Low
3,INDIA,Tier 7,Self_Employed,NaN,False,True,False,True,True,True,False,True,False,False,gmail,High,High,Low
4,INDIA,Tier 1,Student,False,False,True,False,True,True,True,False,True,False,False,gmail,low,medium,Very Low
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,INDIA,Rural,Self_Employed,False,False,True,False,True,True,True,False,True,False,False,gmail,High,High,Very Low
99996,INDIA,Rural,Student,NaN,False,True,False,True,True,True,False,True,True,False,gmail,low,medium,Low
99997,INDIA,Tier 6,Salaried,False,False,True,False,True,True,True,False,True,False,False,gmail,High,medium,Low
99998,INDIA,Tier 1,Other,NaN,False,True,False,False,True,True,False,True,False,False,gmail,High,High,Medium
99999,INDIA,Tier 7,Self_Employed,NaN,False,True,False,False,True,True,False,True,False,False,gmail,medium,medium,Medium

In [117]:
train_df[['demog_9'	,'demog_12'	,'demog_13'	,'demog_14'	,'demog_15'	,'demog_16'	,'demog_17'	,'demog_18'	,'demog_19','demog_20','demog_21']]

,demog_9,demog_12,demog_13,demog_14,demog_15,demog_16,demog_17,demog_18,demog_19,demog_20,demog_21
0,False,False,True,False,True,True,True,False,True,True,False
1,True,False,True,False,True,True,True,False,True,True,True
2,False,False,True,False,True,True,True,False,True,False,False
3,NaN,False,True,False,True,True,True,False,True,False,False
4,False,False,True,False,True,True,True,False,True,False,False
...,...,...,...,...,...,...,...,...,...,...,...
99995,False,False,True,False,True,True,True,False,True,False,False
99996,NaN,False,True,False,True,True,True,False,True,True,False
99997,False,False,True,False,True,True,True,False,True,False,False
99998,NaN,False,True,False,False,True,True,False,True,False,False
99999,NaN,False,True,False,False,True,True,False,True,False,False

In [118]:
bool_col = ['demog_9'	,'demog_12'	,'demog_13'	,'demog_14'	,'demog_15'	,'demog_16'	,'demog_17'	,'demog_18'	,'demog_19','demog_20','demog_21']
for i in bool_col:
    train_df[i] = train_df[i].astype(bool)
    validation_df[i] = validation_df[i].astype(bool)

In [119]:
for col in bool_col:
    train_df[col] = train_df[col].map({True: 1, False: 0})
    validation_df[col] = validation_df[col].map({True: 1, False: 0})

In [120]:
categorical_columns = train_df.select_dtypes(include=['object']).columns

In [121]:
train_df[categorical_columns]

,country_code,city_tier,occupation,email_domain,demog_40,demog_43,income_category
0,INDIA,Rural,Self_Employed,gmail,low,medium,Low
1,INDIA,Tier 1,Salaried,gmail,High,High,Very Low
2,INDIA,Tier 2,Self_Employed,gmail,medium,High,Very Low
3,INDIA,Tier 7,Self_Employed,gmail,High,High,Low
4,INDIA,Tier 1,Student,gmail,low,medium,Very Low
...,...,...,...,...,...,...,...
99995,INDIA,Rural,Self_Employed,gmail,High,High,Very Low
99996,INDIA,Rural,Student,gmail,low,medium,Low
99997,INDIA,Tier 6,Salaried,gmail,High,medium,Low
99998,INDIA,Tier 1,Other,gmail,High,High,Medium
99999,INDIA,Tier 7,Self_Employed,gmail,medium,medium,Medium

In [122]:
train_df['email_domain'].value_counts()

email_domain
gmail      85880
Others      8165
yahoo       1180
idfc         327
hotmail      303
rediff       197
outlook      169
icloud        95
aol           15
msn            4
Name: count, dtype: int64

In [123]:
train_df[train_df['Target']==1]['email_domain'].value_counts()

email_domain
gmail      1714
Others      280
yahoo         4
hotmail       1
icloud        1
Name: count, dtype: int64

In [124]:
# Define a function to map country codes to categories
def map_to_category(range_str):
    if isinstance(range_str, str) and 'gmail' in range_str:
        return 'GMAIL'
    else:
        return 'OTHER'

# Ensure all values in the 'country_code' column are strings
train_df['email_domain'] = train_df['email_domain'].astype(str)

# Apply the mapping function
train_df['email_domain'] = train_df['email_domain'].map(map_to_category)

validation_df['email_domain'] = validation_df['email_domain'].astype(str)
validation_df['email_domain'] = validation_df['email_domain'].map(map_to_category)

In [125]:
train_df[train_df['Target']==1]['email_domain'].value_counts()

email_domain
GMAIL    1714
OTHER     286
Name: count, dtype: int64

In [126]:
train_df[categorical_columns]

,country_code,city_tier,occupation,email_domain,demog_40,demog_43,income_category
0,INDIA,Rural,Self_Employed,GMAIL,low,medium,Low
1,INDIA,Tier 1,Salaried,GMAIL,High,High,Very Low
2,INDIA,Tier 2,Self_Employed,GMAIL,medium,High,Very Low
3,INDIA,Tier 7,Self_Employed,GMAIL,High,High,Low
4,INDIA,Tier 1,Student,GMAIL,low,medium,Very Low
...,...,...,...,...,...,...,...
99995,INDIA,Rural,Self_Employed,GMAIL,High,High,Very Low
99996,INDIA,Rural,Student,GMAIL,low,medium,Low
99997,INDIA,Tier 6,Salaried,GMAIL,High,medium,Low
99998,INDIA,Tier 1,Other,GMAIL,High,High,Medium
99999,INDIA,Tier 7,Self_Employed,GMAIL,medium,medium,Medium

In [127]:
train_df['demog_40'].value_counts()

demog_40
low       55486
High      21080
medium    19615
Name: count, dtype: int64

In [128]:
train_df['demog_43'].value_counts()

demog_43
medium    61185
High      26294
low        8810
Name: count, dtype: int64

In [129]:
from sklearn.preprocessing import OrdinalEncoder
ordinal_encoder = OrdinalEncoder()
train_df[categorical_columns] = ordinal_encoder.fit_transform(train_df[categorical_columns])
validation_df[categorical_columns] = ordinal_encoder.transform(validation_df[categorical_columns])

In [130]:
# ### frequency encoding categorical columns
# for col in categorical_columns:
#     freq_encoding = train_df[col].value_counts() / len(train_df)
#     train_df[col] = train_df[col].map(freq_encoding)
    
#     freq_encoding = validation_df[col].value_counts() / len(validation_df)
#     validation_df[col] = validation_df[col].map(freq_encoding)

In [131]:
train_df

,Target,account_opening_date,country_code,demog_1,demog_2,demog_3,city_tier,occupation,demog_4,demog_5,demog_6,demog_7,demog_8,demog_9,demog_11,demog_12,demog_13,demog_14,demog_15,demog_16,demog_17,demog_18,demog_19,demog_20,demog_21,others_1,others_2,others_3,others_4,others_5,others_6,others_7,others_8,others_9,others_10,others_11,others_12,others_13,others_14,others_18,others_19,others_20,others_21,others_22,others_23,others_24,others_25,others_26,others_27,others_28,others_29,others_30,others_31,others_32,demog_23,demog_24,demog_25,demog_26,demog_27,demog_28,demog_29,demog_30,demog_31,demog_32,demog_33,demog_34,demog_35,demog_36,demog_37,demog_38,others_33,others_34,others_35,others_36,others_37,others_38,others_39,others_40,others_41,demog_39,email_domain,demog_40,demog_41,demog_42,demog_43,income_category
0,0,2023-02-18,0.0,53.0,3.0,101.0,0.0,5.0,0.0,3.0,1.0,1.0,41.0,0,0.0,0,1,0,1,1,1,0,1,1,0,1,1,0.0,0.0,1.0,168.0,133.0,2.0,689.0,133.0,3.0,168,168,1,1,0.0,0.0,8.0,16.0,0.0,0.0,8.0,16.0,9999.0,9999.0,0.0,0.0,0.0,0.0,168.0,7481.0,0.0,20.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0,0,0,0,0,0,0,0.0,0.0,1,0.0,1.0,1,1,2.0,1.0
1,0,2023-02-01,0.0,55.0,1.0,101.0,1.0,4.0,0.0,2.0,1.0,1.0,41.0,1,0.0,0,1,0,1,1,1,0,1,1,1,1,0,0.0,0.0,1.0,185.0,185.0,1.0,568.0,185.0,3.0,185,185,1,1,0.0,0.0,0.0,13.0,0.0,0.0,0.0,13.0,9999.0,9999.0,0.0,0.0,0.0,0.0,185.0,17461.0,0.0,48.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0,0,0,1,0,0,1,0.0,0.0,1,0.0,0.0,1,1,0.0,3.0
2,0,2022-12-09,0.0,55.0,3.0,101.0,2.0,5.0,0.0,4.0,1.0,1.0,41.0,0,0.0,0,1,0,1,1,1,0,1,0,0,0,1,0.0,0.0,1.0,239.0,239.0,1.0,239.0,239.0,1.0,239,239,1,1,0.0,0.0,4.0,14.0,0.0,0.0,4.0,14.0,9999.0,9999.0,0.0,0.0,0.0,0.0,239.0,8788.0,0.0,24.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0,0,1,1,0,0,0,0.0,0.0,1,0.0,2.0,1,1,0.0,3.0
3,0,2023-03-31,0.0,53.0,3.0,101.0,7.0,5.0,0.0,4.0,1.0,1.0,41.0,1,0.0,0,1,0,1,1,1,0,1,0,0,0,0,0.0,0.0,1.0,127.0,127.0,1.0,127.0,127.0,1.0,127,127,1,1,0.0,0.0,4.0,21.0,0.0,0.0,4.0,21.0,9999.0,9999.0,0.0,0.0,0.0,0.0,127.0,7065.0,0.0,19.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0,0,0,0,0,0,0,0.0,0.0,1,0.0,0.0,1,1,0.0,1.0
4,0,2023-01-17,0.0,55.0,6.0,101.0,1.0,6.0,0.0,4.0,1.0,1.0,41.0,0,0.0,0,1,0,1,1,1,0,1,0,0,0,0,0.0,0.0,1.0,200.0,200.0,1.0,200.0,200.0,1.0,200,200,1,1,0.0,0.0,1.0,3.0,0.0,0.0,1.0,3.0,9999.0,9999.0,0.0,0.0,0.0,0.0,200.0,8617.0,0.0,24.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0,0,0,0,0,0,0,0.0,0.0,1,0.0,1.0,1,1,2.0,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,1,2022-12-21,0.0,55.0,2.0,101.0,0.0,5.0,0.0,4.0,1.0,1.0,42.0,0,0.0,0,1,0,1,1,1,0,1,0,0,0,0,0.0,0.0,0.0,49.0,49.0,1.0,49.0,49.0,1.0,49,49,1,1,0.0,0.0,15.0,15.0,3.0,7.0,18.0,22.0,9999.0,9999.0,0.0,0.0,0.0,0.0,49.0,7299.0,0.0,20.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0,0,0,1,0,0,0,0.0,0.0,1,0.0,0.0,1,1,0.0,3.0
99996,1,2023-03-17,0.0,55.0,6.0,101.0,0.0,6.0,0.0,3.0,1.0,1.0,41.0,1,0.0,0,1,0,1,1,1,0,1,1,0,1,0,0.0,0.0,0.0,8.0,8.0,1.0,370.0,8.0,2.0,8,8,1,1,0.0,0.0,13.0,13.0,13.0,13.0,26.0,26.0,9999.0,9999.0,0.0,0.0,0.0,0.0,9.0,9089.0,0.0,25.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0,0,0,1,0,0,0,0.0,0.0,1,0.0,1.0,1,1,2.0,1.0
99997,1,2022-12-08,0.0,55.0,1.0,101.0,6.0,4.0,0.0,4.0,1.0,1.0,41.0,0,0.0,0,1,0,1,1,1,0,1,0,0,0,0,1.0,0.0,0.0,23.0,23.0,1.0,23.0,23.0,1.0,23,23,1,1,0.0,0.0,8.0,8.0,0.0,0.0,8.0,8.0,9999.0,9999.0,1.0,0.0,1.0,0.0,23.0,9629.0,0.0,26.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0,0,0,1,0,0,0,0.0,0.0,1,0.0,0.0,1,1,2.0,1.0
99998,1,2023-03-03,0.0,55.0,1.0,101.0,1.0,2.0,0.0,3.0,1.0,1.0,42.0,1,0.0,0,1,0,0,1,1,0,1,0,0,0,0,0.0,0.0,0.0,106.0,106.0,1.0,106.0,106.0,1.0,106,106,1,1,0.0,0.0,2.0,21.0,0.0,0.0,2.0,21.0,9999.0,9999.0,0.0,0.0,0.0,0.0,106.0,8487.0,0.0,23.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0,0,0,1,0,0,0,0.0,0.0,1,0.0,0.0,1,1,0.0,2.0
99999,1,2023-02-03,0.0,401.0,2.0,101.0,7.0,5.0,0.0,3.0,1.0,1.0,41.0,1,0.0,0,1,0,0,1,1,0,1,0,0,0,0,0.0,0.0,0.0,99.0,99.0,1.0,99.0,99.0,1.0,99,99,1,1,0.0,0.0,0.0,193.0,0.0,0.0,0.0,193.0,9999.0,9999.0,0.0,0.0,0.0,0.0,114.0,9449.0,0.0,26.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0,0,0,1,0,0,1,0.0,0.0,1,0.0,2.0,1,1,2.0,2.0

In [132]:
validation_df

,account_opening_date,country_code,demog_1,demog_2,demog_3,city_tier,occupation,demog_4,demog_5,demog_6,demog_7,demog_8,demog_9,demog_11,demog_12,demog_13,demog_14,demog_15,demog_16,demog_17,demog_18,demog_19,demog_20,demog_21,others_1,others_2,others_3,others_4,others_5,others_6,others_7,others_8,others_9,others_10,others_11,others_12,others_13,others_14,others_18,others_19,others_20,others_21,others_22,others_23,others_24,others_25,others_26,others_27,others_28,others_29,others_30,others_31,others_32,demog_23,demog_24,demog_25,demog_26,demog_27,demog_28,demog_29,demog_30,demog_31,demog_32,demog_33,demog_34,demog_35,demog_36,demog_37,demog_38,others_33,others_34,others_35,others_36,others_37,others_38,others_39,others_40,others_41,demog_39,email_domain,demog_40,demog_41,demog_42,demog_43,income_category
0,2023-03-25,0.0,56.0,2.0,101.0,7.0,5.0,0.0,4.0,1.0,1.0,41.0,1,0.0,0,1,0,1,1,1,0,1,1,0,1.0,0.0,0.0,0.0,1.0,133.0,133.0,1.0,797.0,133.0,4.0,133.0,133.0,1.0,1.0,0.0,0.0,6.0,20.0,1.0,1.0,7.0,21.0,9999.0,9999.0,0.0,0.0,0.0,0.0,133.0,11014.0,0.0,30.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1,0.0,0.0,1,1,0.0,2.0
1,2023-01-15,0.0,55.0,1.0,101.0,5.0,4.0,0.0,2.0,1.0,1.0,41.0,1,0.0,0,1,0,1,1,1,0,1,0,0,0.0,0.0,0.0,0.0,NaN,202.0,202.0,1.0,202.0,202.0,1.0,202.0,202.0,1.0,1.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,9999.0,9999.0,0.0,0.0,0.0,0.0,202.0,7320.0,0.0,20.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1,0.0,1.0,1,1,2.0,1.0
2,2023-01-06,0.0,55.0,1.0,101.0,1.0,2.0,0.0,3.0,1.0,1.0,42.0,0,0.0,0,1,0,1,1,1,0,1,1,1,1.0,0.0,0.0,0.0,0.0,211.0,211.0,1.0,211.0,20.0,2.0,211.0,211.0,1.0,1.0,0.0,0.0,24.0,29.0,0.0,0.0,24.0,29.0,9999.0,9999.0,0.0,0.0,0.0,0.0,211.0,11938.0,0.0,33.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1,0.0,1.0,1,1,2.0,1.0
3,2023-02-08,0.0,55.0,1.0,101.0,1.0,2.0,0.0,4.0,1.0,1.0,41.0,0,0.0,0,1,0,0,1,1,0,1,0,0,0.0,1.0,0.0,0.0,1.0,243.0,113.0,3.0,243.0,113.0,3.0,243.0,178.0,2.0,2.0,0.0,0.0,18.0,73.0,0.0,0.0,18.0,73.0,9999.0,9999.0,0.0,0.0,0.0,0.0,243.0,8008.0,0.0,22.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1,0.0,2.0,1,1,0.0,1.0
4,2023-01-27,0.0,55.0,1.0,101.0,5.0,2.0,0.0,4.0,1.0,1.0,41.0,0,0.0,0,1,0,0,1,1,0,1,0,0,0.0,0.0,0.0,0.0,1.0,190.0,190.0,1.0,190.0,190.0,1.0,190.0,190.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,9999.0,9999.0,0.0,0.0,0.0,0.0,190.0,13181.0,0.0,36.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1,0.0,1.0,1,1,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49995,2023-02-01,0.0,401.0,2.0,101.0,6.0,5.0,0.0,2.0,1.0,1.0,41.0,0,0.0,0,0,0,0,1,0,0,1,0,0,0.0,0.0,0.0,0.0,0.0,101.0,101.0,1.0,101.0,101.0,1.0,101.0,101.0,1.0,1.0,0.0,0.0,0.0,133.0,0.0,0.0,0.0,133.0,9999.0,9999.0,0.0,0.0,0.0,0.0,116.0,12521.0,0.0,34.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1,1.0,0.0,1,1,0.0,1.0
49996,2023-01-18,0.0,53.0,3.0,101.0,2.0,5.0,0.0,4.0,1.0,1.0,41.0,0,0.0,0,1,0,1,1,1,0,1,0,0,0.0,0.0,0.0,0.0,1.0,59.0,59.0,1.0,59.0,59.0,1.0,59.0,59.0,1.0,1.0,0.0,0.0,9.0,13.0,0.0,0.0,9.0,13.0,9999.0,9999.0,0.0,0.0,0.0,0.0,59.0,6815.0,0.0,19.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1,0.0,0.0,1,1,0.0,1.0
49997,2023-02-07,0.0,53.0,3.0,101.0,0.0,5.0,0.0,4.0,1.0,1.0,41.0,0,0.0,0,1,0,1,1,1,0,1,1,0,1.0,0.0,0.0,0.0,0.0,88.0,88.0,1.0,226.0,88.0,2.0,88.0,88.0,1.0,1.0,0.0,0.0,25.0,52.0,0.0,0.0,25.0,52.0,9999.0,9999.0,0.0,0.0,0.0,0.0,104.0,7430.0,0.0,20.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1,0.0,1.0,1,1,0.0,2.0
49998,2023-01-06,0.0,401.0,6.0,101.0,5.0,6.0,0.0,2.0,1.0,1.0,41.0,1,0.0,0,1,0,0,1,1,0,1,0,0,0.0,0.0,0.0,0.0,1.0,50.0,50.0,1.0,50.0,50.0,1.0,50.0,50.0,1.0,1.0,0.0,0.0,79.0,111.0,278.0,348.0,357.0,459.0,9999.0,9999.0,0.0,0.0,0.0,0.0,50.0,7227.0,0.0,20.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1,0.0,0.0,1,1,2.0,1.0
49999,2022-12-11,0.0,53.0,3.0,101.0,6.0,5.0,0.0,4.0,1.0,1.0,41.0,0,0.0,0,1,0,1,1,1,0,1,0,0,0.0,0.0,0.0,0.0,0.0,10.0,10.0,1.0,10.0,10.0,1.0,10.0,10.0,1.0,1.0,0.0,0.0,31.0,31.0,0.0,0.0,31.0,31.0,9999.0,9999.0,0.0,0.0,0.0,0.0,10.0,11252.0,0.0,31.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1,0.0,0.0,1,1,0.0,1.0

## Imputing the null values

In [133]:
train_df.loc[:,train_df.isnull().sum() != 0 ].columns

Index(['demog_1', 'demog_2', 'demog_3', 'city_tier', 'occupation', 'demog_4',
       'demog_5', 'demog_7', 'demog_8', 'others_5', 'others_6', 'others_7',
       'others_8', 'others_9', 'others_10', 'others_11', 'others_21',
       'others_22', 'others_23', 'others_24', 'others_25', 'others_26',
       'others_27', 'others_28', 'demog_24', 'demog_26', 'demog_30',
       'demog_31', 'demog_32', 'demog_33', 'demog_34', 'demog_35', 'demog_36',
       'demog_37', 'demog_38', 'demog_40', 'demog_43'],
      dtype='object')

these 37 columns have null values

In [134]:
validation_df.loc[:,validation_df.isnull().sum() != 0 ].columns

Index(['demog_1', 'demog_2', 'demog_3', 'city_tier', 'occupation', 'demog_4',
       'demog_5', 'demog_6', 'demog_7', 'demog_8', 'demog_11', 'others_1',
       'others_2', 'others_3', 'others_4', 'others_5', 'others_6', 'others_7',
       'others_8', 'others_9', 'others_10', 'others_11', 'others_12',
       'others_13', 'others_14', 'others_18', 'others_19', 'others_20',
       'others_21', 'others_22', 'others_23', 'others_24', 'others_25',
       'others_26', 'others_27', 'others_28', 'others_29', 'others_30',
       'others_31', 'others_32', 'demog_23', 'demog_24', 'demog_25',
       'demog_26', 'demog_27', 'demog_28', 'demog_29', 'demog_30', 'demog_31',
       'demog_32', 'demog_33', 'demog_34', 'demog_35', 'demog_36', 'demog_37',
       'demog_38', 'others_33', 'others_34', 'others_35', 'others_36',
       'others_37', 'others_38', 'others_39', 'others_40', 'others_41',
       'demog_40', 'demog_43'],
      dtype='object')

### KNN Imputer

In [336]:
# import pandas as pd
# from sklearn.impute import KNNImputer

# # Sample DataFrames (replace these with your actual DataFrames)
# # train_df = pd.read_csv('your_train_dataset.csv')
# # validation_df = pd.read_csv('your_validation_dataset.csv')


# # Separate the columns to exclude
# train_exclude = train_df[['account_opening_date', 'Target']]
# validation_exclude = validation_df[['account_opening_date']]

# # Remove the columns to exclude from the datasets
# train_features = train_df.drop(columns=['account_opening_date', 'Target'])
# validation_features = validation_df.drop(columns=['account_opening_date'])

# # Initialize KNNImputer
# imputer = KNNImputer(n_neighbors=5)

# # Fit the imputer on the training dataset and transform it
# train_imputed = pd.DataFrame(imputer.fit_transform(train_features), columns=train_features.columns)

# # Transform the validation dataset using the same imputer
# validation_imputed = pd.DataFrame(imputer.transform(validation_features), columns=validation_features.columns)

# # Add the excluded columns back to the imputed datasets
# train_imputed = pd.concat([train_imputed, train_exclude.reset_index(drop=True)], axis=1)
# validation_imputed = pd.concat([validation_imputed, validation_exclude.reset_index(drop=True)], axis=1)

### Simple Imputer (Median)

In [135]:
from sklearn.impute import SimpleImputer

train_exclude = train_df[['account_opening_date', 'Target']]
validation_exclude = validation_df[['account_opening_date']]

# Remove the columns to exclude from the datasets
train_features = train_df.drop(columns=['account_opening_date', 'Target'])
validation_features = validation_df.drop(columns=['account_opening_date'])

# Initialize SimpleImputer with median strategy
imputer = SimpleImputer(strategy='median')

# Fit the imputer on the training dataset and transform it
train_imputed = pd.DataFrame(imputer.fit_transform(train_features), columns=train_features.columns)

# Transform the validation dataset using the same imputer
validation_imputed = pd.DataFrame(imputer.transform(validation_features), columns=validation_features.columns)

# Add the excluded columns back to the imputed datasets
train_imputed = pd.concat([train_imputed, train_exclude.reset_index(drop=True)], axis=1)
validation_imputed = pd.concat([validation_imputed, validation_exclude.reset_index(drop=True)], axis=1)

In [138]:
train_imputed.isnull().sum().values

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
      dtype=int64)

In [139]:
validation_imputed.isnull().sum().values

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
      dtype=int64)

In [140]:
train_df

,Target,account_opening_date,country_code,demog_1,demog_2,demog_3,city_tier,occupation,demog_4,demog_5,demog_6,demog_7,demog_8,demog_9,demog_11,demog_12,demog_13,demog_14,demog_15,demog_16,demog_17,demog_18,demog_19,demog_20,demog_21,others_1,others_2,others_3,others_4,others_5,others_6,others_7,others_8,others_9,others_10,others_11,others_12,others_13,others_14,others_18,others_19,others_20,others_21,others_22,others_23,others_24,others_25,others_26,others_27,others_28,others_29,others_30,others_31,others_32,demog_23,demog_24,demog_25,demog_26,demog_27,demog_28,demog_29,demog_30,demog_31,demog_32,demog_33,demog_34,demog_35,demog_36,demog_37,demog_38,others_33,others_34,others_35,others_36,others_37,others_38,others_39,others_40,others_41,demog_39,email_domain,demog_40,demog_41,demog_42,demog_43,income_category
0,0,2023-02-18,0.0,53.0,3.0,101.0,0.0,5.0,0.0,3.0,1.0,1.0,41.0,0,0.0,0,1,0,1,1,1,0,1,1,0,1,1,0.0,0.0,1.0,168.0,133.0,2.0,689.0,133.0,3.0,168,168,1,1,0.0,0.0,8.0,16.0,0.0,0.0,8.0,16.0,9999.0,9999.0,0.0,0.0,0.0,0.0,168.0,7481.0,0.0,20.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0,0,0,0,0,0,0,0.0,0.0,1,0.0,1.0,1,1,2.0,1.0
1,0,2023-02-01,0.0,55.0,1.0,101.0,1.0,4.0,0.0,2.0,1.0,1.0,41.0,1,0.0,0,1,0,1,1,1,0,1,1,1,1,0,0.0,0.0,1.0,185.0,185.0,1.0,568.0,185.0,3.0,185,185,1,1,0.0,0.0,0.0,13.0,0.0,0.0,0.0,13.0,9999.0,9999.0,0.0,0.0,0.0,0.0,185.0,17461.0,0.0,48.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0,0,0,1,0,0,1,0.0,0.0,1,0.0,0.0,1,1,0.0,3.0
2,0,2022-12-09,0.0,55.0,3.0,101.0,2.0,5.0,0.0,4.0,1.0,1.0,41.0,0,0.0,0,1,0,1,1,1,0,1,0,0,0,1,0.0,0.0,1.0,239.0,239.0,1.0,239.0,239.0,1.0,239,239,1,1,0.0,0.0,4.0,14.0,0.0,0.0,4.0,14.0,9999.0,9999.0,0.0,0.0,0.0,0.0,239.0,8788.0,0.0,24.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0,0,1,1,0,0,0,0.0,0.0,1,0.0,2.0,1,1,0.0,3.0
3,0,2023-03-31,0.0,53.0,3.0,101.0,7.0,5.0,0.0,4.0,1.0,1.0,41.0,1,0.0,0,1,0,1,1,1,0,1,0,0,0,0,0.0,0.0,1.0,127.0,127.0,1.0,127.0,127.0,1.0,127,127,1,1,0.0,0.0,4.0,21.0,0.0,0.0,4.0,21.0,9999.0,9999.0,0.0,0.0,0.0,0.0,127.0,7065.0,0.0,19.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0,0,0,0,0,0,0,0.0,0.0,1,0.0,0.0,1,1,0.0,1.0
4,0,2023-01-17,0.0,55.0,6.0,101.0,1.0,6.0,0.0,4.0,1.0,1.0,41.0,0,0.0,0,1,0,1,1,1,0,1,0,0,0,0,0.0,0.0,1.0,200.0,200.0,1.0,200.0,200.0,1.0,200,200,1,1,0.0,0.0,1.0,3.0,0.0,0.0,1.0,3.0,9999.0,9999.0,0.0,0.0,0.0,0.0,200.0,8617.0,0.0,24.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0,0,0,0,0,0,0,0.0,0.0,1,0.0,1.0,1,1,2.0,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,1,2022-12-21,0.0,55.0,2.0,101.0,0.0,5.0,0.0,4.0,1.0,1.0,42.0,0,0.0,0,1,0,1,1,1,0,1,0,0,0,0,0.0,0.0,0.0,49.0,49.0,1.0,49.0,49.0,1.0,49,49,1,1,0.0,0.0,15.0,15.0,3.0,7.0,18.0,22.0,9999.0,9999.0,0.0,0.0,0.0,0.0,49.0,7299.0,0.0,20.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0,0,0,1,0,0,0,0.0,0.0,1,0.0,0.0,1,1,0.0,3.0
99996,1,2023-03-17,0.0,55.0,6.0,101.0,0.0,6.0,0.0,3.0,1.0,1.0,41.0,1,0.0,0,1,0,1,1,1,0,1,1,0,1,0,0.0,0.0,0.0,8.0,8.0,1.0,370.0,8.0,2.0,8,8,1,1,0.0,0.0,13.0,13.0,13.0,13.0,26.0,26.0,9999.0,9999.0,0.0,0.0,0.0,0.0,9.0,9089.0,0.0,25.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0,0,0,1,0,0,0,0.0,0.0,1,0.0,1.0,1,1,2.0,1.0
99997,1,2022-12-08,0.0,55.0,1.0,101.0,6.0,4.0,0.0,4.0,1.0,1.0,41.0,0,0.0,0,1,0,1,1,1,0,1,0,0,0,0,1.0,0.0,0.0,23.0,23.0,1.0,23.0,23.0,1.0,23,23,1,1,0.0,0.0,8.0,8.0,0.0,0.0,8.0,8.0,9999.0,9999.0,1.0,0.0,1.0,0.0,23.0,9629.0,0.0,26.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0,0,0,1,0,0,0,0.0,0.0,1,0.0,0.0,1,1,2.0,1.0
99998,1,2023-03-03,0.0,55.0,1.0,101.0,1.0,2.0,0.0,3.0,1.0,1.0,42.0,1,0.0,0,1,0,0,1,1,0,1,0,0,0,0,0.0,0.0,0.0,106.0,106.0,1.0,106.0,106.0,1.0,106,106,1,1,0.0,0.0,2.0,21.0,0.0,0.0,2.0,21.0,9999.0,9999.0,0.0,0.0,0.0,0.0,106.0,8487.0,0.0,23.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0,0,0,1,0,0,0,0.0,0.0,1,0.0,0.0,1,1,0.0,2.0
99999,1,2023-02-03,0.0,401.0,2.0,101.0,7.0,5.0,0.0,3.0,1.0,1.0,41.0,1,0.0,0,1,0,0,1,1,0,1,0,0,0,0,0.0,0.0,0.0,99.0,99.0,1.0,99.0,99.0,1.0,99,99,1,1,0.0,0.0,0.0,193.0,0.0,0.0,0.0,193.0,9999.0,9999.0,0.0,0.0,0.0,0.0,114.0,9449.0,0.0,26.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0,0,0,1,0,0,1,0.0,0.0,1,0.0,2.0,1,1,2.0,2.0

## Feature Selection

In [ ]:
# Create new columns for account opening month and year
df['account_opening_month'] = df['account_opening_date'].dt.month_name()
df['account_opening_year'] = df['account_opening_date'].dt.year
df.drop(columns='account_opening_date', inplace=True)

### 1. RFE using random forest

### 2. RFE using XGBoost

### 3. fitcher Score

The Fisher score (or Fisher's criterion) is a measure of the importance of a feature by evaluating the ratio of variance between classes to the variance within classes.

### 4. Forward Selection